[2017-06-29 15:38] pzwsk opened #6 "Contribute page - Highlight dataset, scale and country entry fields"
A key dataset is defined by the "Country", the "Dataset category" AND the "Scale". We suggest therefore to highlight those entry fields by for instance bringing them at the top of the page.

[2017-06-29 15:39] pzwsk opened #7 "Contribute page - Fields to be renamed"
We suggest to rename "Dataset category" to "Dataset" as a category is already used for "Data category" and this may cause confusion.

We suggest renaming "Data category" to "Risk data category" and keep consistency on this throughout the website.

The term "Scale" and the different related options (global, national, local) may be also ambiguous as the 3 levels of definitions for a dataset may not

[2017-06-29 15:40] pzwsk opened #8 "Contribute page - Dataset description should not be an entry field"
"Dataset Description" is not an entry field but a text which depends on the selected "Dataset" AND "Scale".
It is suggested to add the description in a text box below the dataset name that will change depending on the "Dataset" and "Scale".

[2017-06-29 15:40] pzwsk opened #9 "Contribute page - Replace "Datasets TAGS" by "Datasets elements" or "characteristics""
During previous calls, it was suggested to give the possibility for a user to confirm wether characteristics or data elements are present in the dataset. Those elements should be clearly defined in the definition of the dataset and the user should then have the possibility to confirm their presence by selecting related checkboxes (tags). It should not be possible to add other elements as this woul

[2017-06-29 15:41] pzwsk opened #10 "Contribute page - Add text entry fields to provide justification and additional information to questions"
We suggest to add a text entry field for most of the questions in order to provide justification to the answer and / or also give useful info to the user.

Does the data exist? (*)

Name of the agency or organization that collects the data

--

Is data in digital form? (*) 	Yes No

No additional text entry field needed

--

Is the data available online? (*) 	Yes No

--

Publicly available? (*) 	Ye

[2017-06-29 17:01] daniviga commented on #8
The API model is already like this. For example these are all the descriptions in the `Earthquake` dataset https://riskopendata.org/api-dev/keydataset/2/0/26/ and this is the `earthquake catalogue` object https://riskopendata.org/api-dev/keydataset/2/0/26/39

[2017-06-29 17:04] daniviga commented on #9
Don't have a list of these characteristics/data elements yet? Am I right?

[2017-06-29 17:07] pzwsk commented on #9
Right, should be provided through key datasets definitions.

Le jeu. 29 juin 2017 7:04 PM, Daniele Viganò <notifications@github.com> a
écrit :

--
Pierre Chrzanowski | Open Data Expert
Skype: pierre.chrzanowski | Twitter: @pzwsk

[2017-07-04 08:29] pzwsk commented on #9
So just to confirm here, list to be provided for each dataset through next version of key risk datasets in a specific column.

[2017-07-04 11:30] pzwsk commented on #8
Final consensus is that when selecting `country` and `dataset`, description of dataset should be per default the one for `scale `(level of applicability) = `national`. The contributor would then have the possibility to select another definition / level of applicability.

[2017-07-17 13:41] daniviga commented on #9
Done in #12

[2017-07-17 13:41] #9 closed

[2017-07-17 13:42] daniviga commented on #10
Done in the backend via #12

[2017-08-28 11:14] #10 closed

[2017-08-28 11:14] nastasi-oq commented on #10
Issue closed by @daniviga but still available. I retry to close it.

[2017-08-28 12:46] #7 closed

[2017-08-28 12:59] #8 closed

[2017-08-28 13:09] #6 closed

[2017-09-11 14:29] pzwsk opened #43 "Remove send us feedback pop-up message"
Remove send us feedback pop-up message. Instead, add a feedback button or link in the top right-hand corner.

[2017-09-11 15:01] pzwsk opened #44 "Review registration messages"
- [x] 1. On register page, when clicking on Send request, the message should be clearer, something like: Registration confirmation sent to [email]. Please check your mailbox.

- [x] 2. Please modify the content of the registration confirmation email with the following text: "Thanks for your request to register to the Open Data for Resilience Index. Please confirm your registration by clicking on t

[2017-09-11 15:15] pzwsk opened #45 "Submit dataset - Edit it's own submission"
It should be possible for a contributor to edit it's own submissions before validation by reviewer.

[2017-09-11 15:18] pzwsk opened #46 "Submit dataset - Add links button"
"+ Add Link" should be placed on the right side of the text box so that the user understands that he has to click on it to actually input and save the link.

[2017-09-11 15:38] pzwsk opened #47 "Login - Forgot your password?"
Add a forgot your password feature on the login page.

[2017-09-12 09:23] CIMAManuel commented on #46
"+ Add Link" is already on the right side, perhaps it's only a browser refresh problem.

[2017-09-12 09:23] #46 closed

[2017-09-12 09:27] CIMAManuel commented on #45
The contributor can edit own dataset before validation but there was a
compatibility problem with Safari & Firefox browser.
Please delete your browser cache and test again.
Thks

[2017-09-12 09:31] CIMAManuel commented on #43
Safari & Firefox problem, resolved.

[2017-09-12 09:31] #43 closed

[2017-09-12 09:32] CIMAManuel commented on #47
I need a BE API.

[2017-09-14 07:28] pzwsk opened #48 "Back button"
There is a Back button on several pages of the website. I am wondering whether this button is necessary. If not, it should be removed.

[2017-09-14 08:00] pzwsk opened #49 "Add icon to browser tab"

[2017-09-14 12:32] pzwsk commented on #45
Ok thanks, got it.

[2017-09-14 12:32] #45 closed

[2017-09-14 12:36] cgiovando opened #50 "Add visual diagram to methodology page"
Would be really useful for users to understand how the index values are calculated.

[2017-09-14 12:43] cgiovando opened #51 "Fix behavior of clicking on icons on each country page"
This is either a bug or it's not clear to me how numbers in `Dataset instances` and `Missing Datasets` change when the user starts clicking on each of the data and hazard type icons.

Also, if clicking once means `selected` and clicking again means `not selected` it should be made more clear than just changing color from red to blue.

[2017-09-14 12:44] cgiovando opened #52 "Missing legend in countries map"
Unclear otherwise what the different shades of orange/red mean...

https://dev.riskopendata.org/countries.html

[2017-09-14 12:46] cgiovando opened #53 "Registration instead of Request"
To be consistent, it should say `Registration Form` instead of `Request form`

https://dev.riskopendata.org/register.html

[2017-09-14 12:49] cgiovando opened #54 "Not clear what Dataset Instances and Missing Datasets mean"
Maybe a mouseover tooltip or a link that explains what these mean in the context of this project. Otherwise it's not immediate what `instances` and `missing` mean...

[2017-09-14 12:52] cgiovando opened #55 "Make download links (when available) more prominent"
I would expect many user would come to this portal also to find their way to download data. So would be good to make the download links more prominent in the each dataset details page, or directly from the list of layers next to each `Review` and `Details` icons.

[2017-09-14 13:02] cgiovando opened #56 "Layout of columns in homepage may be confusing"
The second and third boxes seem to provide summary statistics of `data types` and `data specific for each hazard`. The column layout seems to suggest a correlation between the two, but there's an empty (white) column in the second box (between totals and icons), which is then filled with `applicable for` in the third box below.

Also, would be good to provide more explicit titles for what each sec

[2017-09-14 13:05] cgiovando opened #57 "Headers in table view disappear when scrolling"
When scrolling down through the list of countries in table view, headers for each column (with data type and icon) disappear under the frame above.

[2017-09-14 13:10] cgiovando opened #58 "Hide countries that don't have data in table view"
If at some point there will be a possibility to filter the table view, would be good to have countries with no data automatically hidden by default.

[2017-09-14 13:20] cgiovando opened #59 "Long country names not formatted correctly in table view"
![screen shot 2017-09-14 at 15 16 33](https://user-images.githubusercontent.com/10201533/30431840-2bcfc07a-9960-11e7-98ec-6b6fdb750f5d.jpg)

[2017-09-14 13:29] cgiovando opened #60 "Clicking on icons in Countries page doesn't work"
https://dev.riskopendata.org/countries.html

Clicking on icons of hazard types just above the map does not seem to do anything...

Maybe because there's not enough data?

[2017-09-14 13:41] cgiovando opened #61 "Improve design of filter boxes in country page"
- It's not obvious that grey boxes can be used to filter results with free-text
- Unclear if the text filter applies only to titles or descriptions of each entry too
- For consistency, filters should also be available for the other columns

[2017-09-14 14:07] nastasi-oq commented on #47
BE - functionality is included in https://github.com/GFDRR/open-risk-data-dashboard/pull/62

[2017-09-14 14:35] pzwsk opened #63 "Countries Table View"
Below is a list of enhancements suggested for the view table:

* By default, sort countries by score, from the highest to the lowest and possibility to hide countries with no datasets.
* Some country's names such as The Democratic Republic of Congo are too long for the box. Please fixe it for instance by using css "text-overflow: ellipsis" property.
* Remove the scroll bar of the table which is un

[2017-09-14 14:40] pzwsk commented on #58
We suggested having per default all the countries, even those with no submission as a way to incentivize contributors to submit data. As a workaround, I suggested sorting countries per score s that we don't have blank cases at first view. See #63

[2017-09-14 14:45] nastasi-oq commented on #44
Point 2 closed with https://github.com/GFDRR/open-risk-data-dashboard/pull/64

[2017-09-15 08:16] nastasi-oq commented on #44
Point 2: 'dev' backend updated.

[2017-09-15 08:18] nastasi-oq commented on #47
BE - version with the new functionality installed on 'dev'.

[2017-09-15 08:19] nastasi-oq commented on #44
Point 2: 'dev' backend updated. (@CIMAManuel)

[2017-09-18 11:00] #44 closed

[2017-09-18 11:02] #60 closed

[2017-09-18 11:02] #59 closed

[2017-09-18 11:03] #56 closed

[2017-09-18 11:03] #47 closed

[2017-09-18 11:04] #48 closed

[2017-09-18 11:07] #53 closed

[2017-09-18 12:11] pzwsk opened #65 "Get the data"
Add a data export feature so that users can download all datasets entries as a spreadsheet (csv preferred) in one bulk download. Data download link may be added in the countries view.

[2017-09-19 09:09] pzwsk opened #66 "Homepage"
* Clear distinction between header and main content of the homepage
* Big title: Tracking and improving Open Data for Resilience worldwide
* Show icons and labels such as on ThinkHazard! or Country View
* Add those indicators: XX datasets submitted | YY percent open | ZZ countries covered. Move other indicators to a specific page.
* Buttons: Explore countries | Submit new dataset

[2017-09-19 09:15] pzwsk opened #67 "Countries View - TBD"
* Same line of icons as for One country view
* Make it clear when icons or selected or not (per default all icons are selected)

Table view (default view)
* For each country: Rank, Countries name, Openness score (based on selected icons), Datasets submitted, Datasets missing

Map view

[2017-09-19 09:30] pzwsk opened #68 "Country view - TBD"
Country view:

Dataset
* Dataset name
* Organization:
* Tags:
* More info

Submission date

Questions

Actions
* Review
* See details
* Get the data

[2017-09-25 08:27] pzwsk opened #69 "Feedback form not working"
I got a message "Error, feedback not sent!" when trying to send feedbacks.

[2017-09-25 08:50] nastasi-oq commented on #65
BACKEND: a PR is opened here: https://github.com/GFDRR/open-risk-data-dashboard/pull/70
At `/datasets_dump`any registered user can download all datasets in csv format.
Tags list is dumped as a concatenation of  ` | ` separated strings.
Urls list is dumped as a concatenation of ` | ` separated urlencoded strings.
Currently all Dataset model fields are dumped, the list is here: https://github.com/GF

[2017-09-25 09:10] pzwsk opened #71 "New version of key datasets"
New version of key datasets is currently under revision by Andreas. Please wait for green light from him before applying changes to backend.

[2017-09-25 11:13] pzwsk commented on #67
Already discussed in #63

[2017-09-25 11:13] #67 closed

[2017-09-25 11:18] pzwsk commented on #61
Filter have been disabled for now.

[2017-09-25 11:18] #61 closed

[2017-09-25 11:18] #58 closed

[2017-09-25 11:19] pzwsk commented on #57
Already discussed in #63

[2017-09-25 11:19] #57 closed

[2017-09-25 11:45] pzwsk commented on #54
See #68

[2017-09-25 11:45] #54 closed

[2017-09-25 11:55] pzwsk opened #72 "Add a list of key datasets in methodology page"
Add a table of all key datasets, their description and best practice examples in the methodology page or if too much content in a specific sub-page within methodology category.

[2017-09-26 08:22] pzwsk opened #73 "Add "beta" to the title"
The title should read Open Data for Resilience Index beta with the term beta in a smaller size.

[2017-09-26 14:55] nastasi-oq commented on #69
BE: introduced typo during small refactoring, fixed here:
 804093539eb1c194f6fddd87238453adfe26a07b

[2017-09-26 14:55] #69 closed

[2017-09-27 08:09] nastasi-oq opened #74 "Update email template"
Update email template with new content from CIMA

[2017-09-28 08:45] nastasi-oq commented on #74
Template updated in this opened PR: https://github.com/GFDRR/open-risk-data-dashboard/pull/75

[2017-09-29 10:02] #74 closed

[2017-09-29 14:30] pzwsk commented on #66
Here is a review of the issues based on last version of the homepage Sep 29.

* Picture is nice but should be free of rights (openly licensed or in public domain)? Also, please change the height size so that we can see the whole picture on most of the screens.
* Title should stay at the top, within the picture box, not below. Please also rewrite as: "Tracking open disaster risk data worldwide" so

[2017-10-03 09:30] pzwsk commented on #66
Issue on Firefox browser
![image](https://user-images.githubusercontent.com/2378439/31118442-b1e2828e-a82d-11e7-96bf-3c41709ff655.png)

[2017-10-03 12:29] pzwsk opened #76 "Google analytics"
Add google analytics to the site.

[2017-10-06 13:04] pzwsk commented on #55
Implemented in latest version.

[2017-10-06 13:04] #55 closed

[2017-10-06 13:06] #68 closed

[2017-10-06 13:11] pzwsk commented on #63
Closing this one but may want to continue exploring double scroll bar issue..

[2017-10-06 13:11] #63 closed

[2017-10-06 13:13] #52 closed

[2017-10-13 07:33] pzwsk commented on #66
- [ ] Ensure picture is free of rights and provide source (credit).
- [ ] Improve contrast between picture and title and increase title sized.
- [ ] Remove zooming effect on picture.
- [ ] Reduce size of text below indicators.
- [ ] Add names below hazard icons, such as on ThinkHazard! and reduce size of icons.
- [ ] Remove statistics button.
- [ ] Statistics and download links only in the footer

[2017-10-13 08:02] pzwsk commented on #66
There is still differences of font sizes and layout for the home page between web explorers.

Chromium (Ubuntu)
![image](https://user-images.githubusercontent.com/2378439/31535896-0b1a7aec-affd-11e7-9963-54a716e91662.png)

Firefox (Ubuntu)
![image](https://user-images.githubusercontent.com/2378439/31535950-3e7d5e68-affd-11e7-8d1e-5c5fe683b2b3.png)

[2017-10-13 12:21] pzwsk opened #80 "Notify reviewers when new dataset submitted"
Send an email to all reviewers when a new dataset is submitted with link to the dataset to review.

[2017-10-13 14:48] pzwsk commented on #76
Hi @nastasi-oq

here is the tracking ID: **UA-80600133-2**

and the related js code
[code]

ID is configured with http://riskopendata.org/ as domain name. Will change once we have official once.

[2017-10-16 07:41] nastasi-oq commented on #71
PR Opened at:
https://github.com/GFDRR/open-risk-data-dashboard/pull/77

[2017-10-16 07:53] daniviga opened #81 "Requirements for index.opendri.org"
The be able to expose the application under the `index.opendri.org` host we need:

1. an `A` DNS record pointing to 51.15.218.228
2. an HTTPS certificate for `index.opendri.org`; this could be provided via LetsEncrypt
3. `SPF` and `DKIM` records to allow 51.15.218.228 to send emails on behalf of the  `index.opendri.org` and/or `opendri.org` domains

Eventually point 3 can be replaced by an SMTP re

[2017-10-16 08:02] CIMAManuel commented on #76
Google code added to the pages

[2017-10-16 08:02] nastasi-oq commented on #80
@pzwsk, currently we have 6 different notifications to admin email only:

| Notification | Site Administrator | Admin users | Reviewer users |
|---|:---:|:---:|:---:|
| New user activation | Yes | | |
| User deletion | Yes | | |
| New comment | Yes | | |
| Dataset creation | Yes | | |
| Dataset update | Yes | | |
| Dataset deletion by owner | Yes | | |

The new schema will be:

| Notification | Si

[2017-10-16 08:12] pzwsk commented on #80
Perfect, thanks

On Mon, Oct 16, 2017 at 10:02 AM, Matteo Nastasi <notifications@github.com>
wrote:

[2017-10-16 08:27] CIMAManuel commented on #65
Frontend ok, link in the footer

[2017-10-17 12:45] #80 closed

[2017-10-17 13:54] pzwsk commented on #71
tested integration on https://dev.riskopendata.org

On submit dataset page (contribute.html) the 3 levels description are still available. The requirement is to only have national level.

[2017-10-17 14:40] #72 closed

[2017-10-17 14:45] pzwsk commented on #71
Relevant to discussion above, need to add filter (national level only) on following FE pages (please check if no other page/feature is missing):

- [ ] contribute.html (description)
- [ ] dataset_list.html (list of dataset)
- [ ] countries.html (score)
- [ ] index.html (indicators)
- [ ] stats.html

cc @nastasi-oq @CIMAManuel

[2017-10-17 15:07] nastasi-oq commented on #71
@pzwsk please, open a specific new issue for national-only keydataset.

[2017-10-17 15:10] pzwsk opened #83 "FE - National level only filter"
Relevant to discussion related to issue #71, please add filter (national level only) on following FE pages (please check if no other page/feature is missing):

- [x]  contribute.html (description)
- [ ]  dataset_list.html (list of dataset)
- [x]  countries.html (score)
- [x]  index.html (indicators)
- [x]  stats.html

cc @nastasi-oq @CIMAManuel

[2017-10-17 15:12] #71 closed

[2017-10-17 15:19] pzwsk commented on #65
Tested ok on
* IE
* Chrome

Not working on Firefox

[2017-10-17 15:29] nastasi-oq commented on #65
Missing deploiment step, fixed.
Please retry.

[2017-10-18 12:27] pzwsk commented on #76
Can you please confirm when added to production thanks

[2017-10-18 12:29] pzwsk commented on #73
Hi @CIMAManuel @dedandy could you please add a beta somewhere after the logo. We will keep this beta as we run public tests. Thanks!

[2017-10-18 12:32] pzwsk commented on #66
There are still CSS differences between FF and other web browsers on homepage. Will close this issue when fixed.

[2017-10-18 13:47] CIMAManuel commented on #76
done in official portal

[2017-10-18 13:47] CIMAManuel commented on #73
done

[2017-10-18 13:52] CIMAManuel commented on #66
done

[2017-10-18 14:10] CIMAManuel commented on #49
done (dev & official)

[2017-10-18 14:53] nastasi-oq commented on #83
I created a branch that add (partially at this moment) the feature:
  https://github.com/GFDRR/open-risk-data-dashboard/tree/be_national-only

**Open Issues**:
- server side ad hoc checks
  - insert of new dataset is limited by FE to national level only: is enough or we must check also server side that new inserted dataset are at national level ?
  - make sense that users or reviewers cannot see a

[2017-10-26 15:19] vdeparday opened #84 "Diagram appear twice in the methodology"
![image](https://user-images.githubusercontent.com/1036189/32061408-86ee8cd4-ba3f-11e7-8bd2-65ed809b026c.png)

[2017-10-26 15:22] vdeparday commented on #84
The source should be: "Open Data for Resilience Initiative Field Guide, GFDRR" . That is where it appeared first ;)

[2017-11-08 16:00] pslh opened #85 "Missing LICENSE file"
As described here https://help.github.com/articles/licensing-a-repository/
We should add a LICENSE file for GPL v3

[2017-11-29 22:33] vdeparday opened #87 "Several rendering and layout issue in IE 11 (default version on WB computers)"
![image](https://user-images.githubusercontent.com/1036189/33402667-4434ef6c-d52b-11e7-8041-51e10b80a4c3.png)

![image](https://user-images.githubusercontent.com/1036189/33402673-4da58930-d52b-11e7-8e2e-daff271ddaf0.png)

![image](https://user-images.githubusercontent.com/1036189/33402688-5a7a0348-d52b-11e7-9907-a1f07c48c883.png)

[2017-12-01 08:05] #84 closed

[2017-12-01 08:06] pzwsk commented on #83
Dear @nastasi-oq @CIMAManuel can you give an update on this issue? Thanks!

[2017-12-01 08:07] #73 closed

[2017-12-01 08:07] #65 closed

[2017-12-01 08:08] #66 closed

[2017-12-01 08:09] #49 closed

[2017-12-01 08:33] pzwsk opened #88 "Registration process enhancement"
* Ask all profile information in the registration page (Title, First name, Last name, E-mail (*), Institution, Username (*), Password (8 characters min) (*), Password confirmation (*) ) and does not ask to complete profile page after registration confirmation.
* Ask for password to be more than 8 characters and another field to repeat/confirm your password.
* Modifiy registration confirmation mess

[2017-12-01 09:33] nastasi-oq commented on #83
Hi @pzwsk, this issue is blocked waiting for answers to the questions in our comment of Oct 18.
Could you please provide your input?

[2017-12-01 09:47] pzwsk opened #89 "Review and simplify openness scoring methodology"
#Openness scoring is very confusing for users and needs to be reviewed.

Some suggestion below to discuss below:
* Remove weight relative to datasets and depending on hazards and risk data categories as it is too confusing (Final report: 4.4.2 Data category scoring);
* Use a simple calculation methodology. e.g SUM (for each datasets openness)/ Number of datasets to consider;
* Decide what to do fo

[2017-12-01 09:50] pzwsk opened #90 "Change generic font"
Change generic text font to Unit.

[2017-12-01 09:54] pzwsk commented on #83
insert of new dataset is limited by FE to national level only: is enough or we must check also server side that new inserted dataset are at national level ?

**Only FE is ok.**

make sense that users or reviewers cannot see already inserted not national datasets ?

**YES**

we must force download of national only datasets or is enough if we apply level filter also on these ?

**When clicking on do

[2017-12-01 14:18] pzwsk opened #91 "Add OpenDRI and UR logos in the footer"
Add OpenDRI and UR logos in the footer, on the same line as GFDRR.

You can find logos here http://gfdrr.github.io/innovation-lab-brand-guidelines/brand-guidelines/brand-architecture.html

[2017-12-01 14:41] #85 closed

[2017-12-01 14:52] pzwsk opened #92 "Add a navigation pane to the methodology page"
Add a navigation pane to the methodology page, either at the top or on the side.

[2017-12-06 14:37] nastasi-oq commented on #88
1. (BE ✔, FE todo) [be_registration-refact branch](https://github.com/GFDRR/open-risk-data-dashboard/tree/be_registration-refact) allows it on BE side
2. (✔) currently the four password validators are the standard for Django: `UserAttributeSimilarityValidator`, `MinimumLengthValidator`, `CommonPasswordValidator` and `NumericPasswordValidator`. \
`MinimumLengthValidator` already manage the minimum

[2017-12-06 14:44] nastasi-oq commented on #83
(BE ✔, FE todo) [be_national-only branch](https://github.com/GFDRR/open-risk-data-dashboard/tree/be_national-only) allows it on BE side
All `Dataset`s and `KeyDataset`s are filtered before any operation, the only view that still needs level explicit is `/keydataset` for consistency (that is used just by FE internals).

[2017-12-06 14:53] nastasi-oq commented on #88
The new registration json data is:
[code]

[2017-12-11 09:16] pzwsk commented on #90
Font Unit is only available for a fee but we have a license for OpenDRI websites, I asked our colleagues to share it with us. Will let you know. Best

[2017-12-12 00:10] vdeparday commented on #87
This should be high priority as the default navigator in the WB is IE 11

[2017-12-12 10:13] CIMAManuel commented on #92
Submenu added (dev.risk.. & www.risk).

[2017-12-12 10:13] CIMAManuel commented on #91
Added. (dev & www.risk..)

[2017-12-12 12:59] pzwsk commented on #87
I am also experiencing same issue for home page (missing figures in circles) with Chrome 62 and Firefox 57 on windows 10.

Please @CIMAManuel, as mentionned by @vdeparday, could you have a look rapidly as we are ongoing internal testings with WB, including senior management.

Thanks

[2017-12-14 14:21] CIMAManuel commented on #83
FE: set National filter in new Dataset & Update Dataset. (dev.risk.. & www.risk)

[2017-12-29 13:05] pzwsk commented on #90
Fonts provided in .ttf format.

[2018-01-04 13:30] pzwsk commented on #91
Thanks, can you please also remove the text "An initiative of" just above and we will close it.

[2018-01-04 13:51] pzwsk opened #95 "Resize the homepage so that buttons appear on most screens."
Resize the homepage so that buttons "Submit a dataset" and "Explore countries" appear on most screens without scowling down.

[2018-01-04 14:07] pzwsk opened #96 "Remove help page and change methodology to documentation page"
Remove help page and change Methodology to Documentation page.

For next version, I suggest to use Use ReadTheDoc as template hosted on our server OR hosted on https://readthedocs.org/ cc @vdeparday ?

[2018-01-04 14:09] pzwsk opened #97 "Additional content for Documentation page"
- [x] Need to provide more information on the who/what/how of submissions.
- [x] Add contact information.
- [x] The “Data collection process” section is incomplete

[2018-01-04 14:11] pzwsk opened #98 "Update "About" page"
Need to beef up this section a bit – Why is this website/database needed? What kind of data is available? How to use the site, by whom? Is this a crowdsourced database – how to contribute?
    Where is the “feedback form available on every page of the website”?
    How does the site relate to Open DRI, GFDRR, and Understanding Risk (bear in mind the subdomain name: index.opendri.org)?

[2018-01-04 14:13] pzwsk opened #99 "Terms of use / Privacy policy"
It may be necessary to update the legal information based on feedback from DGO and the Legal department. To be updated.

[2018-01-04 14:14] #92 closed

[2018-01-04 14:21] pzwsk commented on #87
* Figures in circles on home seems to work ok now but takes a lot of time to load.
* However, I still have issues for country pages on Edge browser. See below.

![image](https://user-images.githubusercontent.com/2378439/34567503-db64cc6a-f162-11e7-8bec-c55358df8a52.png)

[2018-01-04 14:43] pzwsk opened #100 "New background picture on home"
Some beta users find the the current picture too ominous and suggest to find another one.

I suggest the following one, still with a volcano but not active and the city below showing exposed assets (license free).

cc @vdeparday @cgiovando

![image](https://user-images.githubusercontent.com/2378439/34616485-b67f2676-f238-11e7-84a7-130f438e17d9.png)

Source : https://unsplash.com/photos/BM22q72Z2YU

[2018-01-04 15:16] pzwsk opened #101 "Improve website description on homepage."
1. Tracking open data for disaster and risk management worldwide.
2. Contribute to the most comprehensive inventory of open data for disaster and risk management across the world.
3. Measuring the availability of open data for disaster and risk management across the world.
4. A tool to track, measure and compare open data for disaster and risk management across the world.
5. Tracking together open

[2018-01-04 15:24] pzwsk commented on #101
Some suggestions below. cc @vdeparday @cgiovando

[2018-01-04 15:28] pzwsk opened #102 "Production and github version differs"
Please make sure production version and github version are always the same. Homepages currently differ so not sure which version we have on github.

[2018-01-04 15:31] pzwsk commented on #50
Moved to #97

[2018-01-04 15:31] #50 closed

[2018-01-05 10:20] pzwsk opened #103 "Why "Earthquake" hazard is not available for NEPAL?"
See https://www.riskopendata.org/dataset_list.html?idcountry=NP&idcategory=0

In ThinkHazard! risk is medium so should be available http://www.thinkhazard.org/en/report/175-nepal

[2018-01-16 12:08] CIMAManuel commented on #102
Production and github versions are the same.

[2018-01-16 12:10] CIMAManuel commented on #100
New layout is online in dev.riskopendata.org and in www.riskopendata.org.

[2018-01-16 12:11] CIMAManuel commented on #96
FE done: contestual hel removed and Methodology renamed to Documentation.

[2018-01-16 12:12] CIMAManuel commented on #95
Done: by new layout suggestions

[2018-01-16 12:12] CIMAManuel commented on #91
Done

[2018-01-16 12:13] CIMAManuel commented on #90
New font loaded in dev.riskopendata.org and www.riskopendata.org (and GitHub)

[2018-01-16 12:16] CIMAManuel commented on #88
FE: modified registration process

[2018-01-16 12:21] CIMAManuel opened #104 "FE: page dataset details"
Check the new layout of the dataset details page.
ex: https://www.riskopendata.org/dataset_details.html?keyds=73

[2018-01-16 16:39] pzwsk commented on #90
Ok, does not look better, I don't understand why my colleagues want to use this one ...

I checked and OpenDRI.org has font-family: "Helvetica Neue", Helvetica, Arial, sans-serif as paremeter for generic body font.

Can you change to this font family?
Thanks and sorry.

[2018-01-22 13:47] CIMAManuel opened #105 "Countries Rank"
The ideal solution would be to compute the rank value as a function of the active filters. We need to check if that would be an issue backend side. In case it is we will maintain the absolute rank. the filtered ran comes for free in the pages with the tables of countries as we are sorting them on the fly to compose the table based on the filters. At the moment we do not have the possibility to ext

[2018-01-22 13:49] CIMAManuel opened #106 "Country details (dataset list)"
In this mask we should go for a unique structure for available and missing data. The new definition of dataset submitted is not any more the dataset instance, but the dataset typologies that atlas have 1 dataset instance contributed to the dashboard. therefore in the country details table we need to visualise the dataset typologies both for the available datasets and for the missing ones (with the

[2018-01-22 13:51] CIMAManuel opened #107 "Countries list (table and Map)"
The table with the countries list and score is in line with the philosophy explained before for the “submitted” datasets. it is necessary then to revise the data structure to obtain the values that need to be in the table: Dataset Submitted and Datasets fully open, that cam be filtered per hazard and category.
the ref doc is: https://docs.google.com/document/d/1xpEQE2FFoRTMpKq7ydzTMEM8CG0aB3UwTEvZ

[2018-02-05 09:44] #102 closed

[2018-02-06 11:51] pzwsk commented on #101
See below for new homepage

![image](https://user-images.githubusercontent.com/2378439/35858284-30696c1e-0b3c-11e8-9d1a-d156fd5e563f.png)

[2018-02-06 12:43] pzwsk commented on #104
Yes, much better, thanks.

Would that be possible to have the name of the dataset instead of the name of the category in the title?

For this one it would be:
Australia - Digital Elevation Model

Thanks

[2018-02-06 12:44] pzwsk commented on #107
Can you please give us on update on this issue?
Thanks

[2018-02-06 12:45] pzwsk commented on #106
Can you please give us an update on this issue?
Thanks

[2018-02-06 12:45] pzwsk commented on #105
Can you please give us an update on this issue?
Thanks

[2018-02-06 12:46] pzwsk commented on #103
Any idea?

[2018-02-06 12:47] #100 closed

[2018-02-06 13:19] #96 closed

[2018-02-06 13:20] #95 closed

[2018-02-06 13:20] pzwsk commented on #83
Any update on this one? Thanks

[2018-02-07 09:57] nastasi-oq commented on #105
@pzwsk it will be possible but requires at least 8 of development hours because, for efficiency reasons, is better do it using postgresql functionalities directly.

[2018-02-14 15:53] pzwsk opened #108 "Align list of key datasets with latest clean version (V10)"
The list of datasets currently available on http://riskopendata.org/ does not match with versions 9, in some cases descriptions do no match with datasets name, and some datasets are missing.

In addition, version 9 available as a Google Spreadsheet only, was not a clean version ready to be used.

Therefore a new clean version 10 has been created.
Please align http://riskopendata.org with new V10 a

[2018-02-19 09:07] pzwsk opened #111 "DownloadCSV() not working"
The download of the entire database as a CSV does not function anymore on riskopendata.org or the new version on dev.riskopendata.org

[2018-02-19 09:19] pzwsk commented on #111
Chrome: OK

FF 58: KO
Edge: KO (open a new page but nothing happens then)
IE 11: KO

[2018-02-20 14:16] nastasi-oq commented on #111
@pzwsk , @CIMAManuel
At least Firefox and Chrome on Linux and Edge on Windows download (without any previous authentication) landing directly to the API link www.riskopendata.org/api/datasets_dump

[2018-02-20 15:19] pzwsk opened #113 "Numbers on homepage are taking time to appear"
The figures within the circles on the homepage are taking time to appear.

As discussed the workaround is to have a daily update of those figures offline and some cache to show those numbers instantly online.

[2018-02-20 15:19] pzwsk commented on #113
Cc @vdeparday @nastasi-oq for info

[2018-02-21 09:46] pzwsk commented on #111
Thanks @nastasi-oq www.riskopendata.org/api/datasets_dump also works on my side on FF, Edge and IE on Windows.

Issue might be with the function calling the API?

[2018-02-22 10:59] CIMAManuel commented on #111
Dowload function updated in DEV platform: i tested FF, Edge and Chrome and fine ok

[2018-02-22 15:44] #111 closed

[2018-02-22 15:44] #98 closed

[2018-02-22 15:45] #101 closed

[2018-02-22 15:53] pzwsk commented on #88
Many thanks,

one last thing: could you please simplify the email to confirm registration and stop sending email when account is activated.

Please see content of the email below. Just plain text, no pictures.

Email object: Open Data for Resilience Index: Confirm registration

Email content:
Thanks for your request to register to the Open Data for Resilience Index as user: .
Please confirm your r

[2018-02-25 16:31] nastasi-oq commented on #108
@pzwsk issue:
 * in the previous version codes `EX_4`, `EX_6`, `HA_10`, `HA_11A`, `HA_16A`, `HA_7`, `HA_8`, `VU_1`, `VU_3`, `VU_4`, `VU_6`, `VU_7A` are at `International` level, and someone is already populated with datasets.
Change level for KeyDatasets without data associated is trivial but what to do with those with International data already associated ?
From the database:

  | KeyDataset Code

[2018-02-26 07:49] pzwsk commented on #108
Please go ahead an change level to national. I will then review entries.

[2018-02-26 07:53] pzwsk commented on #108
Just please verify there is no national level dataset with same name already.

[2018-03-01 17:49] nastasi-oq commented on #113
@pzwsk @CIMAManuel  I created a new view to retrieve just the 3 information required for the home page `/stats` already working on dev installation.

[2018-03-01 17:50] nastasi-oq commented on #108
@pzwsk `dev` has an imported version of `production` database with the migration to v10 already applied, please check it.

[2018-03-01 17:52] nastasi-oq commented on #107
From my perspective it is done; @CIMAManuel please confirm it.

[2018-03-01 17:54] nastasi-oq commented on #106
From my perspective it is done; @CIMAManuel please can you confirm it?

[2018-03-01 17:54] nastasi-oq commented on #105
@pzwsk @CIMAManuel  done.

[2018-03-01 18:30] nastasi-oq commented on #83
@pzwsk  for me is completed, @CIMAManuel  ?

[2018-03-01 18:39] nastasi-oq commented on #103
@pzwsk getting data from thinkhazard we retrieved (when we get them) this:
`... {"hazardlevel": {"mnemonic": "no-data", "title": "No Data"}, "hazardtype": {"mnemonic": "EQ", "hazardtype": "Earthquake"}}, ... ` we could try again (tomorrow) and check if something is changed.

[2018-03-01 18:43] nastasi-oq opened #115 "Store dataset related scoring on DB."
@pzwsk to avoid to recalculate each time the score of each dataset we introduced 2 new fields where are stored and recalculated at **insert** and **modify time** "basic" score and "thinkhazard normalized" score.
If the algorithm to calculate them changes a complete recalculation for all datasets is need.
To perform it a new `/scoring_update` BE view is added and accessible for `admin` users from F

[2018-03-02 09:18] pzwsk commented on #108
Last modification would be to change category of datasets below from Hazard to Base data.

HA_4	Soil type
HA_2	Water bodies
HA_1	Watershed boundaries

Please see changes applied in Yellow in Gdoc https://docs.google.com/spreadsheets/d/1nleOGJpnCIwTZyYn-rrDZZjZnbDNASGiobLMdovY1M4/edit#gid=1296008118

[2018-03-02 09:40] pzwsk commented on #115
Hi @CIMAManuel can you please indicate where to find this button on admin panel. Thanks

[2018-03-02 13:08] CIMAManuel commented on #113
I just update in dev the new API from Matteo, can you try, please?

[2018-03-02 14:00] CIMAManuel commented on #115
I added a button in submit page for admin user only (you'll see a tab "Scoring update")

[2018-03-02 15:02] nastasi-oq commented on #103
`dev` now has ThinkHazard data updated to 2018-03-02, with more than 100 new hazards evaluation across all the countries (branch https://github.com/GFDRR/open-risk-data-dashboard/tree/thinkhazard180302)

[2018-03-05 16:10] pzwsk commented on #103
Good thanks

[2018-03-05 16:14] pzwsk commented on #113
Thanks, working.

[2018-03-05 16:17] pzwsk commented on #108
Hi @nastasi-oq I still see 3 datasets above categorized as hazard https://dev.riskopendata.org/contribute.html

[2018-03-05 16:18] pzwsk commented on #115
Perfect, thanks

[2018-03-05 16:18] #115 closed

[2018-03-05 16:19] #107 closed

[2018-03-05 16:19] #106 closed

[2018-03-05 16:24] #104 closed

[2018-03-05 16:25] #97 closed

[2018-03-05 16:25] #90 closed

[2018-03-05 16:27] pzwsk commented on #88
Hi @nastasi-oq, is this BE side?
See above.
Thanks

[2018-03-05 16:27] #87 closed

[2018-03-05 16:32] #83 closed

[2018-03-05 16:33] pzwsk commented on #51
See new version https://dev.riskopendata.org/dataset_list.html?idcountry=AU&idcategory=0

[2018-03-05 16:33] #51 closed

[2018-03-05 16:42] pzwsk opened #120 "Number of datasets shown on /dataset_list.html and /countries.html"
/dataset_list.html and /countries.html pages should consider highest score per datasets only for calculating :

- Number of datasets considered
- Datasets
- Open

Otherwise, there is a lack of coherence with score which is calculated only based on highest scores.

For instance, below the number of datasets considered should be **36** (no filter).
Datasets should be **12**
Open should be **9**

![i

[2018-03-05 16:50] pzwsk commented on #89
Hi @nastasi-oq can you please point to code where dataset and country scores are calculated?

[2018-03-05 17:56] pzwsk opened #121 "Available in bulk?"
I changed questions in ordd_api\models.py and frontend\js\angular\service.js but it is still not applied on dev.riskopendata.org

For instance the question "Available in bulk?" should now be "Is the data available in bulk?"

[2018-03-05 19:52] pzwsk opened #122 "Write API documentation"

[2018-03-06 08:19] nastasi-oq commented on #121
More in general: we haven't an automatic procedure to update `dev` or `production` sites.
In this specific case, on backend site, steps are:
-  refresh git on the server
- create a migration to update database
- apply the new migration

[2018-03-06 09:16] nastasi-oq commented on #89
@pzwsk currently the "candidate" master for backend is the branch `thinkhazard180302` (not yet reviewed).
for the static part you can find code at: https://github.com/GFDRR/open-risk-data-dashboard/blob/thinkhazard180302/backend/ordd_api/models.py#L322
for the dynamic part you can find a couple of entry points here: https://github.com/GFDRR/open-risk-data-dashboard/blob/84f6c710b0efa9a19490657f9f1

[2018-03-06 11:11] nastasi-oq commented on #120
I have already implemented it on a different branch and works as you asked.
A note: counters grouped by category and by perils MUST continue to work on datasets instances for for the database relations schema.
@pzwsk tell me if you want to activate it on `dev`.

[2018-03-06 12:08] pzwsk commented on #120
Great, many thanks, can you just clarify " A note: counters grouped by
category and by perils MUST continue to work on datasets instances for for
the database relations schema. "

Otherwise, please activate on dev, yes.

Also, is there any way to retrieve number of key datasets applicable for
one hazard or one category?
This is for number of datasets considered on /countries.html

On Tue, Mar 6, 2

[2018-03-06 15:36] pzwsk commented on #120
![image](https://user-images.githubusercontent.com/2378439/37041401-6d6a0ff2-215c-11e8-9ba3-fd9d10e9870b.png)

Hi @CIMAManuel, can you have a look and implement on countries.html?
Thanks

[2018-03-06 15:37] #105 closed

[2018-03-06 15:44] pzwsk commented on #121
It's also up-to-date on my local instance, which is the same as on Git master.

@CIMAManuel can you please update FE on dev and production server ?
Thanks

[2018-03-07 07:47] nastasi-oq commented on #122
@CIMAManuel  could you give us the list of used `views` and, for each view, the list of `attributes` used ?
Before documentation I prefer to cleanup obsolete code.
@pzwsk: does is "After external review" the milestone that must be completed before the next production update ?

[2018-03-07 07:50] nastasi-oq commented on #121
@pzwsk Update FE on production imply a BE alignment that must be agreed.
Please move and stabilize `dev` installation to the next production candidate and just after freeze and test update `production`.

[2018-03-07 07:52] nastasi-oq commented on #89
Manage this issue require time and stability for the rest of the code, that doesn't the current scenario.

[2018-03-07 08:02] nastasi-oq commented on #88
Plain text is not "clickable" so you mean "html" without picts ?

You mean: stop sending to administrators ?

[2018-03-07 08:14] pzwsk commented on #120
Getting back to this, seems to work fine on dataset_list however not working on countries page.

Showing 0 for both.

Best

[2018-03-07 08:31] nastasi-oq commented on #120
Investigating.

[2018-03-07 08:53] nastasi-oq commented on #120
Just a typo, fixed.

[2018-03-07 10:27] CIMAManuel commented on #121
Question descriptions are in service.js file, i updated "bulk" question. Can you check please? If you have other questions to update let me know. Thanks

[2018-03-07 10:48] CIMAManuel commented on #120
Page countries.html updated with the new value (keydatasets_count).

[2018-03-09 13:33] pzwsk commented on #121
Ok thanks, I am closing this one.

[2018-03-09 13:36] pzwsk commented on #121
Sorry, re-opening, can you please modify:

Is data in digital form? >

[2018-03-09 13:36] #121 closed

[2018-03-09 13:58] pzwsk commented on #120
Thanks, closing.

[2018-03-09 13:58] #120 closed

[2018-03-09 13:59] pzwsk commented on #108
Thanks, now closing.

[2018-03-09 13:59] #108 closed

[2018-03-09 14:02] pzwsk commented on #88
Yes, html without pics. Thanks.

[2018-03-09 14:03] pzwsk commented on #88
Re : You mean: stop sending to administrators ?

I am sorry, please forget this one.
I thought it was sent to users.

[2018-03-09 14:12] pzwsk commented on #89
Can you clarify on what is implemented and what is not? Thanks

[2018-03-09 14:17] pzwsk commented on #89
For instance, I see in code for statics part that new weights for open data criteria are not implemented.

    Does the data exist? +5 if YES
    Is the data available in digital form? +5 if YES
    Is the data publicly available? +5 if YES
    Is the data available online? +5 if YES
    Is the metadata available online? +5 if YES
    Is the data available in bulk? +10 if YES
    Is the data machi

[2018-03-09 14:57] nastasi-oq commented on #89
This is trivial to adjust but is just part of the simplification.
@pzwsk question: the maximum score for a dataset must be still 100 ?
so the formula became (sum / 75.0 ) * 100.0

[2018-03-09 15:14] pzwsk commented on #89
You are right, there is an issue with new criteria weights.
Let's keep it as it is for now and I will update documentation accordingly.

On Fri, Mar 9, 2018 at 3:57 PM, Matteo Nastasi <notifications@github.com>
wrote:

[2018-03-09 17:02] pzwsk opened #124 "XX % open data on homepage"
First feedback on homepage indicates that people rightly assume that the XX % open data figure is about the number of datasets fully open, not the average of datasets' score as it is currently calculated.

Would it be possible to return the percentage of datasets fully open (score 100%) rather than the average of datasets score?

Thanks

[2018-03-10 11:28] pzwsk opened #125 "[URGENT] Unable to save the dataset data"
Scenario:
Sign In
Go to https://www.riskopendata.org/contribute.html?ctr=FR&ds=Administrative%20boundaries#dataset
Fill in the form
Click on "Submit a dataset"

Error message:

Error message detail: https://www.paste.org/91722

[2018-03-12 07:47] nastasi-oq commented on #125
Looking what is passed to backend using the network developer tool of browser I see:
`<HOSTNAME>/api/keydataset/0/1/undefined/undefined` that seems some wrong composition of the FE, @CIMAManuel  could you check, please?

[2018-03-12 07:52] nastasi-oq commented on #124
@pzwsk currently the number showed is:

(number_of_fully_opened / number_of_all_dataset_items) / 100.0

That seems what you already are asking for.

[2018-03-12 08:27] pzwsk commented on #124
Ok, perfect then.
I am closing the issue.

On Mon, Mar 12, 2018 at 8:52 AM, Matteo Nastasi <notifications@github.com>
wrote:

[2018-03-12 08:27] #124 closed

[2018-03-12 08:43] CIMAManuel commented on #125
When i try to save (Submit dataset click) i have this error message: "Unable to save the dataset data: ValueError at /api-dev/profile/dataset/ "" needs to have a value for field "id" before this many-to-many relationship can be used. Request Method: POST Request URL: http://dev.riskopendata.org/api-dev/profile/dataset/".
Has there been any change on this API?

[2018-03-12 08:52] nastasi-oq commented on #125
Problem seems to be in BE scope, investigating.

[2018-03-12 10:15] #125 closed

[2018-03-12 11:16] pzwsk opened #127 "Issue with country score"
There is an issue with country score calculation. For instance, France with only one dataset (base data, fully open) has a total score of 25%.

See also country score filtered by base_data category.

![image](https://user-images.githubusercontent.com/2378439/37279802-238432fc-25ec-11e8-88b8-7486a94de9da.png)

[2018-03-12 17:20] pzwsk commented on #127
FYI, I added 6 datasets for France today (some fully open, some not) but country score remains the same: 25%

https://www.riskopendata.org/dataset_list.html?idcountry=FR&idcategory=0

[2018-03-13 10:23] nastasi-oq commented on #127
@pzwsk the current scoring algorithm is:
∀ Nation:
&nbsp;&nbsp;score = weighted average (see 4.3) ( ∀ category:
&nbsp;&nbsp;&nbsp;&nbsp;max_score( ∀ keydataset:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;max_score( ∀ instance:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;calculate score(see 4.1) * len((keydataset.applicabilty ⋃ instance.tag) ⋂ Nation.applicability) /
        len(Nation.applicability)

[2018-03-13 11:02] pzwsk commented on #127
Many thanks Matteo for the details,

so issue #89 has not been addressed right ?

After internal review in December, we discussed and agreed on a much more
simple way for calculating score as people were quite confused about the
current methodology.

It is summarized here
https://docs.google.com/document/d/1xpEQE2FFoRTMpKq7ydzTMEM8CG0aB3UwTEvZCeQzl-c/edit#heading=h.v2y9qogpe8qt

Let's plan a call

[2018-03-13 12:20] nastasi-oq commented on #127
YW

As already told simplify scoring require a reasonable stability for all the rest of the code base during the development because it isn't trivial to avoid noise during debugging.

I still have to evaluate the effort to do it.

Except for that we remain that the Iissue #89 was blocked by WB internal discussion (tagging as blocked ... do you remember).

[2018-03-13 12:28] pzwsk commented on #127
Ok, I am going now to write clear specifications so that there is no
confusion regarding new country scoring formulas.
We can discuss then.

Best

On Tue, Mar 13, 2018 at 1:20 PM, Matteo Nastasi <notifications@github.com>
wrote:

[2018-03-13 16:53] pzwsk commented on #127
Please see below, I tried to explain in plain english the new scoring methodology.

Country score is equal to the sum of all highest scores from datasets to be taken into account for that country divided by the number of datasets to be taken into account for that country.

In all cases, datasets to be taken into account for a country are datasets being "applicable for" or with "hazard tag" referin

[2018-03-13 17:04] pzwsk commented on #127
Note: might be good to discuss if still relevant to keep "applicable for hazard X" for key datasets or if it is possible to manage everything through tags and categories only.

[2018-03-14 13:49] nastasi-oq commented on #127
=> highest scores grouped by datasets names ?

Ok.

Already in these ways.

Ok.

[2018-03-14 19:22] pzwsk commented on #127
Yes, highest scores groups by datasets names.

Thanks

[2018-03-16 08:10] pzwsk commented on #127
Hi, any feedback on this?

[2018-03-16 14:54] nastasi-oq commented on #127
The new scoring algorithm description:
∀ nation ∈ Nation:
&nbsp;&nbsp;nation_score =  ∑ ( ∀ datasetname ∈ DatasetName:
&nbsp;&nbsp;&nbsp;&nbsp;max_score( { ∀ d ∈ Dataset(nation, datasetname): ((d.keydataset.applicabilty ⋃ d.instance.tag) ⋂ nation.applicability)  ≠ Ø } )
&nbsp;&nbsp;) / len( DatasetName )

[2018-03-16 15:49] nastasi-oq opened #129 "FE ranking doesn't follow API content values."
In https://dev.riskopendata.org/countries.html countries with the same score must have the same ranking (as returned by the API) but not in the page.

[2018-03-19 08:27] pzwsk commented on #127
Thanks @nastasi-oq,

one remaining issue in the formula though, divisor should change depending on the number of datasets to be taken into account.

This is the "Number of datasets considered" visible on https://dev.riskopendata.org/countries.html

For instance, if score is filtered by Base Data, divisor should be 8 not 36.

Dividend seems to be ok.

[2018-03-19 08:43] CIMAManuel commented on #129
Question: countries without rank what can i show? Zero (0) value?

[2018-03-19 08:59] pzwsk commented on #129
Countries with no datasets submitted (without rank) should rank last, with adequate rank value. So in order to respond I need to know the ranking system used by the API?  Is there a gap in ranking after same scores or not?

It is 1224 ranking, 1334 ranking or 1223 ranking ?
See for detail https://en.wikipedia.org/wiki/Ranking

If there is a gap, then rank value = total number of countries
If there

[2018-03-19 09:18] nastasi-oq commented on #127
@pzwsk Implemented "number of datasets considered" instead of "total number of datasets" as normalization factor.
New version is already installed on `dev`.

[2018-03-19 09:31] pzwsk commented on #127
Many thanks for reactivity.

Now looks OK to me for general country score and country score filtered by category and hazards.

[2018-03-19 09:50] nastasi-oq commented on #129
@pzwsk currently we haven't  gap
I fixed rank for detailed view of countries without datasets using the logic:
`rank =  last_rank (if last score == 0.0)`
`rank  = last_rank + 1 (if last score > 0.0)`
Here the code: https://github.com/GFDRR/open-risk-data-dashboard/pull/130
For @CIMAManuel : it is already on `dev`

[2018-03-19 10:04] pzwsk commented on #129
Ok, this is fine with me.

@CIMAManuel, just make sure to apply this for countries.html

Thanks

[2018-03-19 10:16] #127 closed

[2018-03-19 10:18] #89 closed

[2018-03-20 14:35] pzwsk commented on #113
Reopening. Will close when implemented on production.

[2018-03-22 09:53] pzwsk commented on #113
Still not working on production but working fine on dev.

Scenario for any web browser (FF, Chrome, IE 11, Edge).

1. I completely clear my browsing data.
2. I open riskopendata.org > number does not appear on homepage, even if I wait or refresh.
3 I open dev.riskopendata.org > number appears.

[2018-03-22 09:54] #129 closed

[2018-03-22 09:55] pzwsk opened #132 "Issues with IE 11 (Default WBG browser)"
- [ ]

[2018-03-22 10:30] nastasi-oq commented on #113
True, 'www' make the difference.

[2018-03-22 14:43] CIMAManuel commented on #113
For me is ok.
Thanks Matteo

[2018-03-27 12:39] #113 closed

[2018-03-30 14:29] pzwsk opened #134 "Issues with editing dataset"
It seems the issue is with adding new links.

Scenario:

log in as admin
go to https://www.riskopendata.org/dataset_details.html?keyds=50
click edit dataset
add new link to data or metadata
click save dataset
message : "unable to save ...."

---

Working fine when adding additional information in other fields.

[2018-04-03 07:28] nastasi-oq commented on #134
investigating.

[2018-04-03 13:51] nastasi-oq commented on #134
Find the problem and fixed in #135.
@pzwsk : the fix il already applied on `dev` machine, until is merged in master could you check it ?

[2018-04-03 14:07] pzwsk commented on #134
Many thanks, tested on dev.
Seems to work fine now.

Will close the issue once updated on production.

On Tue, Apr 3, 2018 at 3:52 PM, Matteo Nastasi <notifications@github.com>
wrote:

[2018-04-30 07:34] pzwsk commented on #81
Domain name index.opendri.org has been created and is now pointing to riskopendata.org

[2018-04-30 07:38] pzwsk opened #138 "Fix issues with new domain name index.opendri.org"
Below are some of the functionalities not working with index.opendri.org as domain name.
I guess most of the issues come from same settings to be changed with domain name.

- [x] Numbers not showing up in circles on homepage
- [x] Sign in
- [x] Explore locations (countries)

[2018-05-02 08:01] daniviga commented on #81
DNS zone sample for `index.opendri.org`:

[code]

[2018-05-02 08:26] daniviga commented on #138
Issues should have been resolved. The SSL certificate and the nginx configuration have been extended to support `index.opendri.org`.

[2018-05-04 07:42] pzwsk commented on #138
Checked, thanks, closing this one.

[2018-05-04 07:42] #138 closed

[2018-05-10 08:46] cgiovando opened #139 "Missing margin for title"
On my screen (MBP, OSX 10.11, Chrome 66) the title spreads all the way to edge of the browser window. See screenshot below:

![screen shot 2018-05-10 at 10 42 32](https://user-images.githubusercontent.com/10201533/39860877-34e31050-543f-11e8-94fa-7d1bc98fa167.jpg)

[2018-05-10 08:54] cgiovando opened #140 "Icon formatting issue in similar dataset section"
E.g. for https://index.opendri.org/dataset_details.html?keyds=9 scrolling down to see "Similar datasets for this country" the first three icons are merged together with the three on the second line. See screenshot below:

![screen shot 2018-05-10 at 10 51 13](https://user-images.githubusercontent.com/10201533/39861312-7dfb554e-5440-11e8-8a42-16e642e4206c.jpg)

[2018-05-10 08:56] cgiovando opened #141 "Formatting issue of Open Data Criteria text"
The word "Yes" gets pushed to a new line for some of the criteria. See screenshot below:

![screen shot 2018-05-10 at 10 54 44](https://user-images.githubusercontent.com/10201533/39861414-cbddee66-5440-11e8-9bfd-471e0f6e4e13.jpg)

[2018-05-10 08:59] cgiovando opened #142 "Use "Countries" instead of "Locations""
Is there any reason why we're using "locations" instead of "countries"?

[2018-05-10 10:41] cgiovando commented on #142
I see - although "location" sounds a bit awkward in the context where you are comparing performance (in open-data-ness) of entities, which are countries, districts, cities, etc. I also usually think of a "location" as a point on a map (POIs, city, etc) rather than area, which is the type of geometry most datasets are represented in here.

[2018-05-10 16:40] pzwsk commented on #142
Yes, agree, let's figure out if there is a better term: places, territory,
etc

On jeu. 10 mai 2018 à 12:41 PM Cristiano Giovando <notifications@github.com>
wrote:

--
Pierre Chrzanowski | Open Data Expert
Skype: pierre.chrzanowski | Twitter: @pzwsk

[2018-06-25 10:29] pzwsk commented on #103
Issue is back, reopening https://index.opendri.org/dataset_list.html?idcountry=NP&idcategory=0

[2018-07-02 08:33] nastasi-oq commented on #103
My message last message was not so clear, I apologize, only `dev` machine was updated and waiting a LGTM to proceed, **_close_** the issue, interrupt the process; now also production is updated.
Check it and close the issue if no other problems are found.

[2018-07-20 20:28] vdeparday opened #143 "Two live URLs with different data"
https://www.riskopendata.org/ is still live with data that seems to be different than the data on https://index.opendri.org/

So I think we should retire https://www.riskopendata.org/ or redirect it to the new one.

[2018-07-21 11:32] daniviga commented on #143
I added a redirect on the old server the redirects visitors to the official https://index.opendri.org.
This is a temporary solution: if you want to keep the old domains (.org and .eu), a changed in their DNS zone should be performed instead (like `riskopendata.org -> CNAME -> index.opendri.org`).
The owner of `riskopendata.*` looks to be CIMA, so I think you should ask @CIMAManuel to make those ch

[2018-08-03 07:00] pzwsk opened #144 "Add a 404 not found page"

[2018-08-03 07:09] pzwsk opened #145 "Data submitted but not showing up"
Issue with this url, data has been submitted but record is not showing up https://index.opendri.org/contribute.html?ctr=AL&ds=Historical%20records%20of%20hazard%20events

Same issue with this one https://index.opendri.org/contribute.html?ctr=AL&ds=Flood%20hazard%20maps

For some reasons it considered there is no data submitted

[2018-08-03 07:12] pzwsk commented on #143
Thanks, please remove riskopendata domain names, we will not use this address anymore. Thanks

[2018-08-03 07:56] daniviga commented on #143
For now I configured the webserver to return a 404 for `*.riskopendata.org` and `*.riskopendata.eu`, this should help the search engines to 'forget' about them. I left active only `dev.riskopendata.org` to be used for the development website.

@CIMAManuel could you please remove all the DNS records for `riskopendata.org` and `riskopendata.eu` except for `dev.riskopendata.org`? I guess that `riskop

[2018-08-03 10:57] pzwsk opened #146 "Not possible to submit data for Company register Albania"
It has been reported that it was not possible to submit dataset for company register in Albania.

See screenshot
![image](https://user-images.githubusercontent.com/2378439/43639501-b5c463c0-971c-11e8-8699-e0328e77c777.png)

[2018-08-03 10:59] pzwsk commented on #103
Thanks, now closing

[2018-08-03 12:25] nastasi-oq commented on #145
@pzwsk reopening the dataset it seems incomplete but I cannot reproduce the error inserting a new record (when I try to save it, correctly it alert me about the incompleteness of the form).
Could you give us more information about your client setup (Operative System, browser ... any other info that could be useful).
Thank you.

[2018-08-03 13:41] nastasi-oq commented on #146
Selecting ``Albania`` => ``Exposure`` => ``Company register`` there is a misalignment between data retrieved from the server related to ``Company register`` and what the client is trying to save as new dataset instance, please @CIMAManuel could you verify it ?
![alb_shot](https://user-images.githubusercontent.com/1670278/43645902-91236f2c-9733-11e8-91e4-3b72df0db369.png)
![alb_shot2](https://user-

[2018-08-06 12:35] pzwsk opened #147 "Improve registration and login"
Registration and login/logout are still not fluid enough. Those are the first features a user is going to encounter with the Index, so we need to have them as fluid as possible.

Potential improvements:

Registration
* Add Sign In / Log In button in the header;
* Improve registration form (fields such as Title or Institution should not be mandatory, password length should be clearly indicated, etc

[2018-08-10 09:32] pzwsk commented on #146
Error message :

`"Tag 'River flooding' not allowed for KeyDataset`

It seems client sent river flooding tag checked as yes whereas company register does not have this tag element.

[2018-08-10 10:09] pzwsk commented on #146
And here is what the API request return for Company register: https://index.opendri.org/api/keydataset/0/3/44/EX_3D

`HTTP 200 OK
Allow: GET, HEAD, OPTIONS
Content-Type: application/json
Vary: Accept

[
    {
        "code": "EX_3D",
        "level": "National",
        "category": "Exposure",
        "dataset": {
            "id": 44,
            "name": "Company register",
            "category"

[2018-08-10 10:16] pzwsk commented on #146
I might be wrong but it seems there is a mismatch between tag_available and applicability and client is using applicability instead of tag_available to send back to server.

See an example where it is working https://index.opendri.org/api/keydataset/0/1/1/BA_1A

[2018-08-10 12:53] CIMAManuel commented on #146
Issue resolved, I tested on dev platform but not in index.opendri.org, can you try with real data, please?
Thks

[2018-08-10 15:38] nastasi-oq commented on #146
It works also on production (clean of browser cache is required).
for @CIMAManuel : after the successfully insert, click on "my dataset" tab doesn't show the just inserted dataset and you must perform a page reload to see it, could you force a "behind the scenes" reload of owned datasets to avoid this misleading behavior ?

[2018-08-13 12:16] nastasi-oq commented on #146
@pzwsk **yes**

Explaination
----------------
currently we have this list of ``KeyTagGroup``:
[code]
**Time reference** has no ``KeyTag`` associated (the full list of KeyTags below).

The only ``KeyDataset`` associated with this ``KeyTagGroup`` is **Company register**.

This is the list of current ``KeyTag``  prefixed with their own ``KeyTagGroup``:
[code]

[2018-08-13 12:19] nastasi-oq commented on #146
@pzwsk Analyzing the current DB content I found that the 6 KeyDatasets below hasn't a ``KeyTagGroup`` associated, is it correct ?
[code]

[2018-08-23 13:36] pzwsk commented on #146
Yes, correct, and we will need to review this in next phase as we still have confusion on what is an element for users. But for now, closing this issue.

[2018-08-23 13:36] #146 closed

[2018-08-23 13:39] pzwsk opened #148 "Put links to index.opendri.org on GFDRR and OpenDRI websites"
On GFDRR.org, I suggest to put a box on the landing page similar to thinkhazard.

On OpenDRI.org, I suggest for now to change the following paragraph in https://opendri.org/about/

To increase public access to risk information, OpenDRI engages in dialogue with governments on the value of open data through working groups and pilot projects that evolve into long-term locally owned open data projects

[2018-08-24 07:54] pzwsk opened #149 "No similar dataset where there is another one"
Scenario:

User submit several dataset for the same key dataset but can only see one.

Browser version: IE11 or Chrome
![image](https://user-images.githubusercontent.com/2378439/44572230-83e24a80-a783-11e8-8ff5-519fbeef4c74.png)

[2018-09-05 06:45] pzwsk opened #150 "When entering link without http:// it put index.opendri.org as main domain name"
See for instance second link for https://index.opendri.org/dataset_details.html?keyds=212

[2018-09-05 06:52] daniviga commented on #150
This is not related to the server stack but to the data. It's a normal behavior for an anchor without the scheme or a simple `//`. It must be fixed either backend or frontend side (i.e. prepending `http` if scheme is not entered, but I would suggest to raise an error if links are submitted without a scheme)

[2018-09-05 06:52] pzwsk opened #151 "Improve Admin Dataset Review feature"
See https://index.opendri.org/contribute.html#datasetreview

(need to be logged in as admin)

Columns should be:

- Location
- Dataset
- Open Data Criteria
- Submission date
- Review button

Thanks

[2018-09-06 08:47] CIMAManuel commented on #150
I added controls to set the protocol in the link string, in insert mode and in view mode.
When an user enter a new link the system add protocol if not sets before to save it and for old links the control add the protocol if not sets only in view mode.

Let me know if it's all ok.

[2018-09-06 13:01] CIMAManuel commented on #149
I checked the problem.
I found a different keydataset structure provide by the server and i will realign the client.
For this category "Seismic hazard model", however, there is only one similar dataset.

Can you check, please?

[2018-09-12 07:43] nastasi-oq commented on #103
@pzwsk "now" is now.

[2018-09-12 07:43] #103 closed

[2018-09-12 07:44] nastasi-oq commented on #145
@pzwsk any news ?

[2018-09-16 17:58] pzwsk commented on #150
Thanks, one question before closing, will that work if protocol is https instead of http?

[2018-09-17 06:41] nastasi-oq commented on #150
@pzwsk give me the time to manage it properly server side too, I'm working on it to improve a couple of things.
Generally, when a site has ``https``, the best practice is that ``http`` is redirected to it (99% of cases).

[2018-09-17 10:47] pzwsk commented on #148
Done for opendri.org but still to do for gfdrr.org

[2018-09-17 12:17] nastasi-oq commented on #151
Location is already returned in the request submitted to the REST API.

[2018-09-18 06:31] pzwsk commented on #149
Anything new on this? Thanks

[2018-09-18 06:35] pzwsk commented on #145
No, need to ask again user.

[2018-09-18 06:45] pzwsk commented on #151
OK can we implement something quickly on FE, it does not have to be fancy
but currently it is difficult for us to conduct and plan reviews of
datasets as we don't have enough info.

Thanks

On Mon, Sep 17, 2018 at 2:17 PM Matteo Nastasi <notifications@github.com>
wrote:

[2018-09-18 07:02] CIMAManuel commented on #151
Yes, we can. I'll do it today, ok?

[2018-09-18 08:52] pzwsk commented on #151
Great, thanks

On Tue, Sep 18, 2018 at 9:02 AM CIMAManuel <notifications@github.com> wrote:

[2018-09-18 13:58] CIMAManuel commented on #149
I'm checking FE side but i can't find the problem. In frontend side I filter the datasets list by keydataset code (es: HA_17A ), is it correct?

[2018-09-18 14:10] CIMAManuel commented on #151
Page modified. Clear your cache file before.
Let me know!

[2018-09-19 09:50] CIMAManuel commented on #144
Client side added a new html page in the root: error_404.html.
@daniviga can you implement server side redirect?
Thks

[2018-09-19 09:57] daniviga commented on #144
@CIMAManuel done!

[code]

Now the reverse proxy (Nginx) sends the content of `error_404.html` in case of a `404` response.

[2018-09-21 14:54] pzwsk opened #154 "Add global dataset page"

[2018-09-21 14:58] pzwsk commented on #151
Looks good. Thanks closing

[2018-09-21 14:58] #151 closed

[2018-09-21 14:59] pzwsk commented on #144
Ok looks good, thanks!

[2018-09-21 14:59] #144 closed

[2018-09-24 10:09] #139 closed

[2018-09-24 12:03] oncletom commented on #139
Hello @cgiovando,

Thanks for reporting the problem a few months ago and thanks for your patience 🙂

We figured out a sensible change to do to ensure margins on this element. The same issue applied to the baseline as well 👍 The _yellow_ and _purple_ areas on the following screenshots highlight the newly added margin.

# Large screen

The title container has a maximum length.

<img width="1068" alt

[2018-09-25 14:18] oncletom opened #159 "Setup Netlify Deploy Key and Webhook on GitHub Repository"
@GFDRR, @pzwsk, @vdeparday, I'd like to setup netlify.com to build branch previews for the _frontend_ app of this repository. There are a few actions to take to enable this.

1. [x] **Deploy Key**
1. [x] **Webhook**

# Setup Deploy Key

1. Paste the deploy key on this page: https://github.com/GFDRR/open-risk-data-dashboard/settings/keys/new

[code]

2. Submit the form

# Setup Webhook

1. Go to ht

[2018-09-25 14:45] oncletom opened #160 "Registration e-mail is received as a SPAM"
Headers content

[code]

It's likely the host sending the e-mail `SPF` and `DKIM` DNS settings are not aligned properly. Thus e-mail servers think the e-mail is sent by rogue machines.

I still have to investigate a clearer path to resolution.

[2018-09-26 12:39] pzwsk commented on #159
Done. Let me know if ok?

[2018-09-26 12:40] pzwsk commented on #150
Which requirements from BE?

[2018-09-26 16:19] CIMAManuel opened #168 "Menu link - right click"
Il menu e i link all'interno della piattaforma sono gestiti tramite il modulo $locationProvider.html5Mode di Angular JS. Questo modulo impedisce di fatto di avere dei link "html standard" e di conseguenza un banale right click sulla voce di menu non funziona ottenendo un link del tipo "frontend/%7B%7B$locationProvider.$get%7D%7D". Se questi link sono trasformati in tag a standard il click viene ri

[2018-09-27 06:49] nastasi-oq commented on #150
@pzwsk a comma was missing, I mean that from BE side all is ok, now. Ready to be closed.

[2018-09-27 09:39] oncletom commented on #159
Hello @pzwsk,

It worked perfectly but I did a mistake as I gave you the info related to _my fork_ of the repo.

Would it be possible to redo the steps with these informations instead:

## Deploy Key

[code]

## Webhook URL

Nothing to do.

Thank you and sorry for the annoyance.

[2018-09-27 09:50] oncletom opened #169 "Create a @GFDRR/opendri-frontend GitHub team and setup permissions"
I take this from #159 where the message got lost in the conversation.

# Problem

At the moment, I can only create issues and submit pull request. I cannot do anything else. Many of the external tools requires people to be part of an organisation, and to request permissions from admin to activate them (which is a sane approach).

![image](https://user-images.githubusercontent.com/138627/46137785-9

[2018-09-27 10:13] nastasi-oq commented on #169
LGTM

[2018-09-27 10:25] oncletom opened #170 "Convert footer images into SVG"
Some of them to be found here: http://thinkhazard.org/en/about

cc @dedandy

[2018-09-27 11:14] oncletom commented on #169
Thanks @pzwsk for creating the team.

I realize I should have explicitely asked for **Write** permissions as I'm still stuck in the situation (I cannot create Cards or Projects).

Thank you in advance :-)

[2018-09-27 12:33] pzwsk commented on #169
Ok I will have a look later today

On jeu. 27 sept. 2018 à 8:14 AM Thomas Parisot <notifications@github.com>
wrote:

--
Pierre Chrzanowski | Open Data Expert
Skype: pierre.chrzanowski | Twitter: @pzwsk

[2018-09-27 12:34] dedandy opened #171 "Netlify walkthrough"
Present a workflow when a new preview environment is created for each new Pull Request.

[2018-09-27 12:35] dedandy opened #172 "Travis CI walkthrough"
Present a workflow where each commit pushed to the master branch are automatically deployed to dev.riskopendata.org.

[2018-09-27 12:37] dedandy opened #173 "Identify performance bottlenecks for Country Details page"
Look at the web browser Network tab to identify

- heavy resources and possible optimisations
- unnecessary requests
- asynchronous requests which could be optimised

The aim is to display the page in less than one second.

Each optimisation will be written as a new card, scheduled to do at the next iteration planning session.

[2018-09-27 12:37] dedandy opened #174 "Identify performance bottlenecks for Country Datasets Page"
Look at the web browser Network tab to identify

- heavy resources and possible optimisations
- unnecessary requests
- asynchronous requests which could be optimised

The aim is to display the page in less than one second.

Each optimisation will be written as a new card, scheduled to do at the next iteration planning session.

[2018-09-27 12:39] dedandy opened #175 "End of week demonstration at CIMA Foundation"
Demonstrate the work done during the week

- show the website
- show this GitHub Project and explain the workflow
- what are the sensible actions we took
 - SVG logo
 - automatic deploy
 - code/issue review before merge
 - documentation

[2018-09-27 12:56] oncletom commented on #143
I guess this one can be closed.

[2018-09-27 14:16] oncletom commented on #170
@dedandy I found an interesting link to understand `viewBox`. There is an additional `preserveAspectRatio` attribute which helps center a picture where we want within the `viewBox`.

[2018-09-28 08:28] #170 closed

[2018-09-28 13:49] oncletom commented on #159
@pzwsk you asked me this morning if I was waiting for elements; ^ the comment above is something I am waiting for. It is a new deploy key to add to this repository, to complete the setup of the Preview tool.

[2018-09-28 15:23] oncletom opened #179 "Make the login form compatible with Password Managers"
By reading https://hiddedevries.nl/en/blog/2018-01-13-making-password-managers-play-ball-with-your-login-form, I can see we need at least to:

1. [x] convert `<loginform>` into `<form>`
1. [x] specify a `method="POST"` and a `target="?"` attributes
1. [x] add `autocomplete="username"` to the username field
1. [x] add `autocomplete="current-password"` to the password field
1. [x] ~replace `type="bu

[2018-09-28 15:36] oncletom opened #181 "Rework mandatory and optional fields in the registration form"
Initial requirement was:

My thoughts on its current state:

- username: I don't understand why we ask this information (email sounds more sensible and unique as well); my hunch is asking for a username can already be a NO GO signal that make people fly away from the registration
- password: mandatory ,OK
- confirm password: mandatory, OK
- title: I don't think it's necessary — asking for gender h

[2018-09-28 15:40] oncletom commented on #147
I have broken down the various points in other issues, trying to make the expectations explicit.

I'm not about the `Email registration title and content to be reviewed. See below.`. What would be suggestion?

New proposal can be done by editing the [backend/ordd_api/templates/ordd_api/mail_templates/registration_confirm.html](https://github.com/GFDRR/open-risk-data-dashboard/blob/master/backend/o

[2018-09-28 16:41] dedandy commented on #147
Next Week I'll  try to investigate better email reg form, following Thomas
guideline

Than I'll try fix issue opened about other FE things

Il ven 28 set 2018, 17:40 Thomas Parisot <notifications@github.com> ha
scritto:

[2018-10-01 15:33] pzwsk commented on #181
Thanks, agree with most of suggestions, some comments though:

Currently, the username is showed on the dataset detail page. See for instance https://index.opendri.org/dataset_details.html?keyds=353

I was however thinking it would be better to show full name + organization with maybe the possibility to contact the person who submitted the info via a contact form, without showing email. Question b

[2018-10-01 16:14] oncletom commented on #181
Yes, at this stage all this is only a proposal.

I suggest to write the "Contacting the person who submitted the info" as a separate issue. It's going to be easier to describe the expectations and to prioritize the item.

[2018-10-02 07:19] pzwsk opened #182 "Improve registration email"
The email received by a user to confirm his registration looks not very nice. See screenshot below.

I suggest the following:
* Sent by: currently, the email is sent by `manuel.cavallaro@cimafoundation.org` we need to change to a generic email `contact@index.opendri.org` (need to investigate what to do for that)
* Email object: change to `Confirm Registration to Open Data for Resilience Index`
* C

[2018-10-02 07:30] pzwsk opened #183 "Icons layout issue on dataset_list"
Issue with alignment of dataset category icons on https://index.opendri.org/dataset_list.html. See below

See
![image](https://user-images.githubusercontent.com/2378439/46334686-4c3dac80-c625-11e8-8970-af7897abc614.png)

[2018-10-02 08:20] oncletom commented on #182
So if I understand well, you suggest the email to be sent as plain text, using the default email client font size and such, correct?

If I were the person who put all my heart into designing the emails, I would not receive this bit very well.

[2018-10-02 08:29] oncletom opened #184 "Assess current front-end website and code according to current front-end best pratices"
- [ ] Google Search Console (SEO and performance metrics)
- [ ] Lighthouse
- [ ] [Web Accessibility Checker](https://achecker.ca/checker/)
- [ ] [a11y.css](http://ffoodd.github.io/a11y.css/)

[2018-10-02 08:30] oncletom opened #185 "Assess current front-end website and code according to OpenLab Guidelines"

[2018-10-02 08:30] oncletom opened #186 "Assess current front-end website performance"

[2018-10-02 08:31] oncletom opened #187 "Suggest UX/UI improvements to better suit mobile and tablet navigation"

[2018-10-02 08:48] oncletom opened #188 "WORKSHOP: what are the objectives set for the launch?"
This workshop intent is to reflect the _metrics_ of the _added value_ of `index.opendri.org`.

Possible formats:
- [Impact Map](https://medium.com/@antonzotin/5-simple-steps-to-run-your-first-impact-mapping-session-7d182acbf153) (Why > Who > How > What
- Lean Metrics

The idea is to prioritise the development and improvements that serve the purpose, and which are measurable in a qualitative way.

[2018-10-02 08:52] oncletom opened #189 "Write an interview guide"
If I have to ask 5 people about the index, what do I want to learn? What can be taken to improve it? What halts the progress? What would support it better? What are the journey patterns?

[2018-10-02 08:53] oncletom opened #190 "Write the project metholody"

[2018-10-02 08:57] oncletom opened #191 "WORKSHOP: what are the pages goals?"
What are the questions/goals we want to answer for…
- the homepage
- the datasets list page
- for a country page
- key dataset page
- dataset detail page

[2018-10-02 09:00] oncletom opened #192 "Google does not see much of the website"
Not much can be seen at the moment from a search engine perspective.

# Indexed pages

![image](https://user-images.githubusercontent.com/138627/46338832-89a83700-c631-11e8-89bb-6c0a9e17aff7.png)

# Homepage

## Google Desktop

![image](https://user-images.githubusercontent.com/138627/46354667-64322200-c65f-11e8-9db6-bfa9fb4eadb5.png)

## Google Mobile

![image](https://user-images.githubuserconte

[2018-10-02 17:06] oncletom opened #194 "Normalize the amount of breakpoints"
Each vertical bar on the following screenshot represents a different _media query_, thus a different breakpoint to test the interface with.

<img width="1438" alt="image" src="https://user-images.githubusercontent.com/138627/46364187-5f786880-c675-11e8-8d30-98ae89c1b22c.png">

There is certainly an interest in regrouping some of them and by using the standard breakpoints:

| Device  |
| ---     |

[2018-10-03 06:59] nastasi-oq commented on #182
Currently development site has 'manuel.cav...' as sender (for testing purpose I think), instead production site has 'noreply@index....'  if something not fit this scenario there is a bug.
If you want to change ``noreply`` with ``contact`` for production is just configuration thing.

[2018-10-03 12:33] pzwsk commented on #182
@oncletom yes correct. I am suggesting this as a quick but efficient fix but we can discuss other solutions. "Not very nice" meaning: currently a user is welcomed with logo and an empty map and has to scroll down to see message and click on confirm button. We can do better in terms of UI/UX I think and in general I find plain text more efficient than many nice designed registration emails.  But ag

[2018-10-03 12:43] oncletom commented on #159
OK, I finished the setup thanks to #169 👍

[2018-10-03 12:43] #159 closed

[2018-10-03 12:46] pzwsk opened #195 "Create backend team"
Done here https://github.com/orgs/GFDRR/teams/opendri-backend

@nastasi-oq please let me know who I should add people to the team

Thanks

[2018-10-03 13:06] oncletom commented on #169
@pzwsk I'm good with this one, thanks!

[2018-10-03 13:30] nastasi-oq opened #196 "Enable receive email at index.opendri.org"
- [ ] Configure a server to receive ``index.opendri.org`` email
- [ ] Add  a specific MX record for ``index.opendri.org`` on the ``opendri.org`` DNS configuration

[2018-10-04 10:10] #169 closed

[2018-10-05 13:38] pzwsk opened #197 "Update list of countries"
Here are the constraints for the next version of the countries list to be used for national level:
* To be aligned with World Bank country list;
* To include in addition overseas territories from countries such as UK, France and Netherlands;

[2018-10-05 13:50] dedandy commented on #182
@pzwsk @oncletom  yes I'm agree about look now is not very nice with website.
Need try to improve ux/ui.
Sure a simple text will be ok for all platform instead html have some problem with gmail and other clients .... But I want try give a better look. Even a simple logo + text information  .... @oncletom if you have suggests about html/email form, and practice what to do or not (frontend) I get it

[2018-10-07 20:32] pzwsk commented on #197
See review against World Bank List of Countries from Common Data Stores

https://docs.google.com/spreadsheets/d/1qXPxZejennBSuZibByeNzE_qxRo1qCRDfp3J---loV8/edit#gid=868371667

[2018-10-08 11:33] #143 closed

[2018-10-08 11:36] pzwsk commented on #175
I have downloaded video of the presentation. Will publish on GitHub.

[2018-10-08 11:39] pzwsk commented on #172
Question: what would happen for deployment if we revert to a previous version?

[2018-10-08 11:45] pzwsk commented on #168
Thanks, I saw that the use of Angular is causing several issues,

[2018-10-08 11:51] pzwsk opened #199 "Set-up and organize a wiki to discuss, explore and document main projects elements."
Suggestion of wiki categories:

* List of open data criteria (one page for each): document and discuss relevance of this open data criteria for instance by adding best practices example, and what to do in case of criteria is not met.
* List of key datasets (one page for each): use those pages to discuss relevance, description, attributes and document best practices.

[2018-10-08 13:41] oncletom commented on #172
If you revert a commit (using `git revert` for example), the latest version of `master` will be deployed.

In all cases, the latest commit of `master` will be deployed.

[2018-10-08 13:46] oncletom commented on #171
This happened on Friday September 28th.

I plan to document the process in #177

[2018-10-08 13:46] #171 closed

[2018-10-08 13:46] oncletom commented on #172
Will document how it works in #177

[2018-10-08 13:46] #172 closed

[2018-10-08 13:46] #175 closed

[2018-10-08 14:04] oncletom commented on #168
Yes. It might be worth opening a separate issue to describe this filtering problem. I suspect it is bound to a different aspect of Angular.

About this issue, we decided to go with solution 1 because it requires the lowest amount of effort and present a lower risk. All clickable links will have a real `href` attribute which is clickable, shareable and indexable by search engines.

[2018-10-08 14:07] oncletom opened #200 "Remove spacing/positionning HTML elements"
Such as `div.space`, `.odfri_txt_space`.

[2018-10-08 14:10] oncletom opened #201 "Merge viewport-specific margin HTML divs with columns using offsets (col-*-push, col-*-pull)"
[code]

would then become something like

[code]

[2018-10-08 14:12] oncletom opened #202 "Cleanup CSS stylesheet with a linter"
Like http://csslint.net, postCSS (using Node/npm) or [stylelint](https://www.npmjs.com/package/stylelint).

This will warn or merge duplicate declaration, automatically prefix rules, reorder things and signal potential issues with certain browsers.

[2018-10-08 14:14] oncletom opened #203 "Remove HTML comments and unused HTML/JS/CSS files"
Unused HTML files can be spotted with their suffix (`_DEL.html`, `_old.jpg`, etc.)

[2018-10-08 14:15] oncletom opened #204 "Maybe swap the "Contribute" and "Explore" buttons"
It seems more logical to _read_ before _writting_.

[2018-10-08 14:17] oncletom opened #205 "Is "tracking" the right word we want to use?"
It feels heavily involved with ad trackers and all the stuff Facebook and big corps are facing, invading privacy.

Is "assessing" the replacement word? Is it well understood by data consumers?

[2018-10-08 14:31] oncletom opened #206 "The homepage feels a bit "dry""
The homepage has very few informations about the intent of the project.

During the UX/UI assessment, it felts it could benefit of stating clearer things related to the “there is a need to assess the state of open data in the sector, enable users to search for open data in an easier way, identify data gaps and enable Governments and data producers to see where they stand and make progress.” bit of

[2018-10-08 14:39] oncletom opened #207 "Enable users to search a country from the homepage"
Related to #206, being able to search for a country would convey 1) the default scope of the data and 2) provide an alternative way of looking for data (all vs. my country of interest).

I see two approaches with different level of involvement:

# Step 1

An autocomplete field (using Bootstrap autocomplete component or a built-in HTML `dataset` list) to lookup then go on the country page.

If ther

[2018-10-08 14:42] oncletom opened #208 "The navigation menu should be vertically aligned with the logo"
Currently, its layout is different on some pages of the website and its alignment varies depending of the viewport size (tablet, mobile, desktop).

This requires to cleanup the HTML to correctly use the navbar markup provided by Bootstrap, as it provides both the collapsed and expanded version of the layout out of the box (in line with InnovationLab guidelines).

[2018-10-08 14:43] oncletom opened #209 "Homepage: rework the main title size on mobile"
It takes a lot of space.

Maybe align `.odfri_home_title h1` with the Bootstrap provided `.jumbotron` to benefit of the responsive font sizing, out of the box.

[2018-10-08 14:44] oncletom opened #210 "Header: increase the logo column width on mobile"
`.col-xs-8` instead of `.col-xs-7`.

It has a nicer look and feel.

[2018-10-08 14:46] oncletom opened #211 "Homepage: responsive background image"
Related to #186.

- [ ] use a portrait crop of the picture in portrait mode (using `srcset`)
- [ ] generate thumbnails for various resolutions if we can't find a way to use one image to rule them all

Have a read at https://talks.nicolas-hoizey.com/b23Bwm/la-petite-clinique-des-images-responsives to make a time-cost-effective decision.

[2018-10-08 14:48] oncletom opened #212 "Homepage: try an horizontal layout for the stats boxes from 425px or 768px breakpoint"
It looks like iPhone 5 or 6 and tablets could display them well on 1 or 2 lines.

[2018-10-08 14:50] oncletom opened #213 "Header: the last menu element takes some space when logged out"
The `ngIf` directive should be applied to the `<li>` element instead of its `<div>` content.

<img width="847" alt="image" src="https://user-images.githubusercontent.com/138627/46616144-2f6c1200-cb1a-11e8-8a8c-2220ce9a96a1.png">

The highlighted element would not be displayed _at all_.

[2018-10-08 14:52] oncletom opened #214 "Documentation and text-based pages: remove text justification"
It is related to the `.text-justify` class.

Some titles get weirdly displayed, with huge chunks of space when they are multiline.

[2018-10-08 14:57] oncletom opened #215 "Documentation and text-based pages: rework margins for tablets and mobile"
At the moment the 15% margin implied by `.rodi_big_text_page` eats a third of the screen width on lower viewport width.

- [ ] give more space on larger screens while keeping a good alignment with menu (outcome is uncertain, it requires trial/error approach)
- [x] the regular Bootstrap gutter width should be enough on mobile and tablets

[2018-10-09 08:06] oncletom opened #216 "Registration: some emails are considered invalid whereas they are valid"
<img width="648" alt="image" src="https://user-images.githubusercontent.com/138627/46655071-c84a6e00-cbaa-11e8-8673-279c82cb76d2.png">

`blah@entre-quote.com` does not work<br>
`blah@entrequote.com` works.

---

Also, email is displayed as invalid when the first character has been typed. It's a bit too soon.

[2018-10-09 08:43] oncletom opened #217 "Align buttons visual layout with InnovationLab guidelines"
At the moment their colour vary from places to places (rounded, green, etc.) whereas the InnovationLab Guidelines is more strict about it: http://gfdrr.github.io/innovation-lab-brand-guidelines/website/common-elements/links-and-buttons.html

<img width="477" alt="image" src="https://user-images.githubusercontent.com/138627/46657248-2168d080-cbb0-11e8-89ad-fbad0834c93a.png">

[2018-10-09 09:38] oncletom opened #218 "My dataset: review icon front colour is the same as the background colour"
<img width="1112" alt="image" src="https://user-images.githubusercontent.com/138627/46660446-5593bf80-cbb7-11e8-931b-f4c212fe1509.png">

A minimal fix would be the foreground colour to be the same colour as the magnifier icon background colour (blue).

[2018-10-09 10:46] oncletom opened #219 "About: page title is missing"
Unlike other text-based pages, it lacks of a main title.

<img width="1163" alt="image" src="https://user-images.githubusercontent.com/138627/46664392-300bb380-cbc1-11e8-8cf4-e8f8f2fcd13f.png">

The expectation would be to add a `<h1>` which content would be `About this project` (or website).

[2018-10-09 10:48] oncletom opened #220 "About: the navigation menu is different from the homepage"
Mobile menu on the About page

<img width="513" alt="image" src="https://user-images.githubusercontent.com/138627/46664495-7f51e400-cbc1-11e8-8394-99679d72dbc0.png">

Mobile menu on the homepage

<img width="519" alt="image" src="https://user-images.githubusercontent.com/138627/46664515-8d076980-cbc1-11e8-83a6-093c0d072c6f.png">

[2018-10-09 10:52] oncletom opened #221 "Explore locations: what to think about a 95% score with 0% open data?"
<img width="1246" alt="image" src="https://user-images.githubusercontent.com/138627/46664663-e7a0c580-cbc1-11e8-868c-4f7ea408bf9c.png">

[2018-10-09 10:56] oncletom opened #222 "Explore locations: consider merging the risk filters on mobile"
Something like this, to make it more useable on mobile devices.

<img width="590" alt="image" src="https://user-images.githubusercontent.com/138627/46664986-c68ca480-cbc2-11e8-8db3-42f282f709b8.png">

[2018-10-09 10:59] oncletom opened #223 "Explore locations: wrap the results in a `.table-responsive` element"
At the moment, this class is applied to the same element as `.table` and prevents the layout to be responsive.

Currently:

[code]

Expectation:

[code]

[2018-10-09 11:03] oncletom opened #224 "Explore locations: vertically align the table headers"
Currently

<img width="809" alt="image" src="https://user-images.githubusercontent.com/138627/46665249-9abdee80-cbc3-11e8-9f43-89e148d5c3fb.png">

Expected

<img width="820" alt="image" src="https://user-images.githubusercontent.com/138627/46665278-a9a4a100-cbc3-11e8-92fc-59e7b64cabde.png">

[2018-10-09 11:06] oncletom opened #225 "Explore locations: wrap rows in a `.container` element"
Expectation, the following highlighted element should be container in a `<div class="container">...</div>` element.

<img width="575" alt="image" src="https://user-images.githubusercontent.com/138627/46665368-ed97a600-cbc3-11e8-8fc0-f085f5d85c91.png">

[2018-10-09 11:14] oncletom opened #226 "Country page:"
Considering this page:

<img width="1112" alt="image" src="https://user-images.githubusercontent.com/138627/46665585-97773280-cbc4-11e8-925f-c71690f9b0d4.png">

We end up having two areas of filters:

- the risk
- the submission state

It is unclear what is the value provided by showing "Missing" datasets, and thus, the necessity to display the "Show" filters.

[2018-10-09 11:17] oncletom opened #227 "Country page: make the entire row clickable to see its details"
Expectation

<img width="830" alt="image" src="https://user-images.githubusercontent.com/138627/46665964-a6121980-cbc5-11e8-8332-635b5a08619c.png">

[2018-10-09 11:23] oncletom opened #228 "Country page: visually align and balance the metrics"
- [x] structure as a _definition list_ (`<dl>` / `<dt>` / `<dd>`)
- [x] on mobile: one metric = one row
- [x] on tablet: a combination which fits well the device width (1 metric = 1 row, 2 metrics = 1 row)
- [x] align margins with title and the table

<img width="942" alt="image" src="https://user-images.githubusercontent.com/138627/46666179-48320180-cbc6-11e8-9e94-4b138d410e42.png">

[2018-10-09 11:25] oncletom opened #229 "Country page: reuse the same risks menu/filter as on the "Explore locations" page"
Expectation: they should look and behave equally.

[2018-10-09 11:30] oncletom opened #230 "Dataset page: status labels are unclear"
When I read the top status label, I wonder:

- "Pending approval"
  - Can I still use the data?
  - What is the next action?
  - Who is going to act on that?
  - What is the review process?
- "Approved"
  - By whom?
  - Is it important? Why?
  - Does it mean I can trust the data even when they have not been updated since 2012?

[2018-10-09 11:35] oncletom opened #231 "Country page: open data criteria eats a lot of space"
![image](https://user-images.githubusercontent.com/138627/46666687-a27f9200-cbc7-11e8-8108-9b66d7b1283a.png)

I can see many problems:

- are we here to display Country data or to educate about Open Data?
- colour coding and the "Yes/No" sounds like a duplication of the same feature

Some approach we can take:

- use a single line to display the icons
- display a legend when we hover them (but sti

[2018-10-09 11:42] oncletom opened #232 "Country page: update date not provided but open data criteria is okay?"
In the case of https://dev.riskopendata.org/dataset_details.html?keyds=413, there is no date provided but the dataset is considered as OK about the "Is the data provided on a timely and up to date basis?" question.

[2018-10-09 12:44] oncletom opened #233 "Dataset page: shall we use the RIsk icons instead of the plain text labels?"
maybe ofcourse ?! :)

[2018-10-09 12:45] oncletom opened #234 "Dataset page: change the label of the "Back" button to "Back to $country.name datasets""

[2018-10-09 12:46] oncletom opened #235 "Dataset details page: apply word wrap to prevent long words/URLS to break the layout"

[2018-10-09 12:49] oncletom opened #236 "Dataset page: put more emphasis on the dataset download"
At the moment, the dataset page provides a lot of informations about its metadata.
But accessing the dataset is actually lost within the page, like the 2 blue links on this screenshot:

![image](https://user-images.githubusercontent.com/138627/46670395-5c7bfb80-cbd2-11e8-9f76-230bdecfb98d.png)

Expectations to be worked out but maybe:

- a table of contents at the top (_à la_ Documentation page)
-

[2018-10-09 12:51] oncletom opened #237 "Dataset page: what can we do to contribute?"
It seems at the moment the only way to contribute is to submit a dataset.

What would be the smallest contribution possible for someone browsing a dataset page?

How do we want to represent it visually to entice a user to act on it?

[2018-10-09 12:53] oncletom opened #238 "Dataset page: linkify licences and contents"
Some fields would benefit of being typed as [Markdown syntax](https://commonmark.org/help/), to write bold, italic and hyperlinks without knowing HTML.

Licences links should be displayed as links in all cases.

Fields it could be applied:

- [ ] License
- [ ] Description
- [ ] Notes / Additional information

[2018-10-09 13:39] oncletom opened #239 "Password reset email: the inbox preview is a placeholder text"
![screenshot_20181009-153429](https://user-images.githubusercontent.com/138627/46672940-f9419780-cbd8-11e8-8d07-8ac958a023c1.png)

- [ ] write a short text like "You requested this password reset link to change your password."
- [ ] possibly check the other emails to debunk placeholder previews
- [ ] open new issues with the expected preview texts

[2018-10-09 14:12] oncletom opened #240 "Dataset page title: active seismic fault (dataset) should be more prominent than Serbia (country). For example, country can be smaller and lighter font, with dataset below it larger"
Using Bootstrap Page Header component: https://getbootstrap.com/docs/3.3/components/#page-header

[2018-10-09 14:15] oncletom opened #241 "Country Page: Add a "what can you do to make this country more open" section"

[2018-10-09 14:15] newick opened #242 "Country page: improve titles markup"
For the moment, after `<h3>` arrive after `<h1>`, a good practice is to change them to `<h2>` and to apply needed styles

[2018-10-09 17:12] oncletom commented on #160
[code]

Looks like there is something to investigate on how SPF DNS records work.

[2018-10-11 15:46] pzwsk commented on #197
Hi, please find final version for country list https://www.dropbox.com/s/vx90ggy9pldqnmd/WB_Country_List_2018.csv?dl=0

I added:
- Venezuela
- Word with Country Code AA (Country ISO Code free to use)

Next step:
- Ensure there is no loss of data;
- Update list and modify names accordingly;
- Remove World from country tables and score;

[2018-10-11 16:03] pzwsk opened #244 "Filter countries by region or specific clusters"
In https://index.opendri.org/countries.html add a filter to show only countries belonging to the group selected.

To be discussed: should we handle this both BE and FE side, with in the db a specific column for group (one country can have belong to more than one group) or one group per column with a boolean for each country.

What do you think @nastasi-oq ?

Here is the first list of clusters and

[2018-10-11 16:04] pzwsk commented on #197
Also, we might want to treat #244 at the same time

[2018-10-11 16:32] pzwsk commented on #233
Do you mean like earthquake here ?

![image](https://user-images.githubusercontent.com/2378439/46819410-eb7c4580-cd83-11e8-8a5b-4ad8d98c7dc4.png)

[2018-10-11 16:35] pzwsk commented on #227
Yes, very good idead, this would align behavior with countries page.

[2018-10-11 16:40] pzwsk commented on #142
Since we are going to align the Index and TH with WB Country list, see #197, I suggest we actually change location to country, as we will be able to refer to the official list of countries managed by the WB.

[2018-10-11 20:09] oncletom commented on #233
Yes exactly, using this visual instead

<img width="90" alt="image" src="https://user-images.githubusercontent.com/138627/46830859-12497480-cda2-11e8-82dd-98c2364e4049.png">

It does not add much impact in term of experience but it reuses an existing visual pattern, to link it to the "Explore locations" and a "Country page" aesthetics.

[2018-10-12 07:15] pzwsk opened #245 "Revise list of key datasets and dataset model (version 10 to 11)"
Currently, a key dataset is defined by:
- Description (what is required) sometimes including a minimum resolution or level of disagregation but not always;
- Elements (tags): tags can be related to data attributes contained in the dataset such as in the case of building footprints (height, material, etc.) OR hazard (has the dataset been produced for a specific hazard);
- Level (global, national, s

[2018-10-12 07:33] pzwsk commented on #245
Suggestions for dataset entry:

* Add dataset title;
* Remove hazards from elements;
* Change name of elements to data attributes and move it to metadata;
* Use of standards and valid terms for `available formats`, `licence`, `dates`;

[2018-10-12 07:36] pzwsk commented on #245
Suggestions for revision of key datasets list:

- Review descriptions of key datasets based on extended consultations with key datasets experts, existing data standards, first results from the Index, and review of risk assessments. A description of a key dataset should be easy to understand for the general public while providing enough details for contributors. It should be neutral in terms of cov

[2018-10-12 07:42] pzwsk commented on #233
Ok thanks, see this new issue #245

1. there are discussions to actually remove hazard from data elements;
2. data element (inputted by contributor) belongs to metadata and should be move there. We may however show in the description both (description + required or optional data elements);

Happy to discuss this

[2018-10-12 08:40] daniviga commented on #160
This is something I can check. The emails are sent using the wrong IP address (VM address instead of the floating one that has a proper SPF record and a good rDNS)

[2018-10-12 08:58] daniviga commented on #160
Issue should be fixed now (and IPv6 is also available now):

[code]
I sent a custom test email, so I would ask you to check if it is also OK with a 'production' mail.

[2018-10-12 13:37] newick commented on #201
@dedandy I found some empty divs in for example "methodology.html", can I help you on this one ?

[2018-10-12 15:16] pzwsk commented on #232
Thanks for pointing to this,

I reviewed and updated metadata but I think the issue is more about: Should we accept YES for up-to-date when there is no date provided?

I will let this issues open then, as I would like to ask our colleagues from Open Knowledge what is their view on this.

Best

[2018-10-12 18:33] oncletom commented on #160
Amazing, thank you @daniviga!

I have not received any test email registered with my account (`oncletom`) but I'm glad you found out how to fix this. Thank you also for the documented answer 🙂

[2018-10-12 19:01] oncletom commented on #160
I asked for a password reset and I can confirm the SPAM score is significantly lower and the SPF SPAM score is not not weighing anymore.

The issue is solved on my side of things 👍

[2018-10-15 07:04] pzwsk commented on #182
Hi, what needs to be reviewed here?

[2018-10-15 07:11] pzwsk commented on #219
Thanks, I would put "About this website"

[2018-10-15 07:21] pzwsk opened #247 "Change title to OpenDRI Index and change logo"
Issues:
1: the name of the website `Open Data for Resilience Index` is too long and its acronym is similar to Open Data for Resilience Initiative.
2: the logo is not aligned with other products from the Lab. See http://gfdrr.github.io/innovation-lab-brand-guidelines/brand-guidelines/brand-architecture.html

Suggestion: change to `OpenDRI Index` and follow guidelines for logo

Pros: a closer link t

[2018-10-15 08:51] pzwsk commented on #236
Agree with issue.

Links can point to direct download, dataset page, metadata, etc.

I would therefore name it something  like "Data links" (idea taken from data.gov.uk), rather than "Download"

[2018-10-15 13:47] oncletom commented on #232
Understood.

Sometimes I feel adding "Not Applicable" or "Not provided" as choices would reflect a more accurate information, in addition to "Yes" (available) and "No" (definitely not available).

[2018-10-15 13:56] newick commented on #227
@oncletom good to pair on this one

[2018-10-16 14:19] pzwsk commented on #247
@vdeparday @gracedoherty your thoughts on this? Thanks

[2018-10-17 03:51] gracedoherty commented on #247
I've toyed with the idea of making it one word: OpenDRIndex. And having Index be a different color than OpenDR. Not a fan of how there's so much alternation of upper and lower case though.

We'll need to spell out what OpenDRI is in the tagline.

[2018-10-17 06:47] oncletom commented on #182
@pzwsk a proposal has been made in #243, alongside unrelated changes which made it hard to read, test and merge bit by bit. I suppose @dedandy is working on splitting the proposals in several pull requests to ease up the conversation.

[2018-10-17 06:52] oncletom commented on #225
This one has been successfully addressed by #246

[2018-10-17 06:52] #225 closed

[2018-10-17 08:41] pzwsk commented on #247
OpenDRIndex would be difficult to pronounce, no?
OpenDRI Index could be work, if we just extend current logo with Index, maybe in another color.

Regarding the reference to OpenDRI, I suggest:

[code]

[2018-10-17 09:33] nastasi-oq commented on #197
### Results of comparison between current and new country dataset

#### Number of countries
| Current | New |
|:----------:|:------:|
|  232   |  280 |

#### Number of countries matching ISO2 code: 195

#### Number of countries matching one of the name in the CSV file: 4
[code]
#### Number of new countries (world - AA included): 55

#### Current countries not present in the new dataset: 0

[2018-10-17 10:48] CIMAManuel commented on #237
For me a simply thing that we can do is to add a "contact" function where you can submit comments or suggestions about the data. For example integrations or errors.
Obviously we must identify a guided form: some choices  to do (drop down list) and a free comment, for example.
These requests can be submitted to the owner and to an admin member.

We can add this "contact" function to any macro area:

[2018-10-17 11:14] CIMAManuel commented on #181
I agree with @oncletom for username/email fileds.
I suggest to add a optional filed "Name to show" (optional) where the people can write a "public" name.
The role can be:
1. Public name if exists or
2. The Name/Surname if there is at least one or
3. Organisation if exits or
3. E-mail
So the user must add only a filed to preserve the email information.

A question: fileds Name and Surname could the

[2018-10-17 11:56] nastasi-oq commented on #244
Specific columns for groups don't scale very well.
In my opinion we can use a ***many-to-many relation*** between the current **`Country`** table and a new **`Cluster`** table.
Another interesting option could be a ***many-to-many relation*** between items of the same table (a generalization of the current **`Country`** table) adding a **boolean field** to distinguish between a **cluster item** an

[2018-10-17 12:35] newick opened #257 "Dataset list - change tooltip values by answer instead of question"
<img width="1680" alt="capture d ecran 2018-10-17 a 14 34 07" src="https://user-images.githubusercontent.com/657454/47086470-d7b85f80-d219-11e8-8c35-85f237f9bf60.png">

[2018-10-17 12:51] nastasi-oq commented on #181
Not unique names are not so helpful to identify users.
If you mean name "AND" organization: we must check that the couple is unique and provide a way to associate the real user to the two provided field (with the risk to do typos on both field values).

[2018-10-17 13:10] dedandy commented on #182
Yes now I'm splitting #243 in single proposal

[2018-10-17 15:51] #208 closed

[2018-10-17 15:57] oncletom commented on #219
It has been successfully implemented by #251.

<img width="1149" alt="image" src="https://user-images.githubusercontent.com/138627/47099707-270c8900-d236-11e8-9a1f-05d9838c437f.png">

[2018-10-17 15:57] #219 closed

[2018-10-17 15:58] oncletom commented on #210
Successfully implemented in #253.

[2018-10-17 15:58] #210 closed

[2018-10-17 15:58] oncletom commented on #213
Successfully implemented in #254.

[2018-10-17 15:58] #213 closed

[2018-10-17 17:26] oncletom opened #260 "[performance] Explore locations: country score request takes 2.6sec to load"
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/138627/47104769-76f14d00-d242-11e8-8abb-cb7b11a03528.png">

[2018-10-17 20:28] pzwsk opened #264 "Explore Countries page"
Here are some initial thinking and suggestions for enhancing Explore Locations page https://index.opendri.org/countries.html

- [x] 1. Rename title to `Explore Countries` or `Countries` -> #288
_We will now use official WB country list so no risk with stating those are countries_

- [x] 2. Add `Country Groups` filter form -> #244

- [x] 3. Add `Country Search` form ->

- [ ] 4. Use new indicators

[2018-10-17 20:30] pzwsk commented on #264
Some screenshots:

[2018-10-17 20:32] pzwsk commented on #264
![image](https://user-images.githubusercontent.com/2378439/47114603-95fcd880-d25c-11e8-8605-47fef2cbabc0.png)

[2018-10-18 06:38] pzwsk commented on #260
Hi @nastasi-oq could you investigate when you have time, thanks

[2018-10-18 06:59] nastasi-oq commented on #197
@pzwsk I added the missing **Countries with a different names** paragraph to the analysis above, please take a look.

[2018-10-18 07:37] pzwsk commented on #247
Some suggestions for Logo, taking into account Labs guidelines

![image](https://user-images.githubusercontent.com/2378439/47138333-6334fd80-d2b9-11e8-826f-c834e93a7611.png)

[2018-10-18 07:48] pzwsk commented on #247
And a quick preview on the homepage with suggestion of new tagline

![image](https://user-images.githubusercontent.com/2378439/47138946-f589d100-d2ba-11e8-8281-a03b23a2da3c.png)

[2018-10-18 09:13] pzwsk commented on #197
Thank @nastasi-oq. I had another look and I confirm we go with WB_Code and WB_Country names for new version. So first 2 columns of the csv file.

That way, we ensure full alignment with WB official list.

However, it might be useful to keep Iso code in the db, for instance if we want to expose our API. The only issue is that some countries do not have an Iso Code. What do you think?

[2018-10-18 09:16] #189 closed

[2018-10-18 09:20] pzwsk commented on #257
+1

[2018-10-18 10:09] oncletom commented on #227
Addressed by #258.

[2018-10-18 10:09] #227 closed

[2018-10-18 10:38] pzwsk commented on #222
Please also have a look to thinkazard.org on mobile.

It uses a carousel to display all icons in one line.
This is working quite well I think.

![image](https://user-images.githubusercontent.com/2378439/47148971-7f916400-d2d2-11e8-8ee6-5f983668d263.png)

[2018-10-18 13:29] newick commented on #222
I like the think hazard carousel, the limit is when your screen has perfectly the same width as a number of element. It needs to indicate that you can scroll.

[2018-10-18 13:45] newick commented on #220
I'm not very familiar with angular but isn't it possible to put the whole `<header>` in a template like the `<mainmenu></mainmenu>` one?
It could avoid to duplicate changes in every pages, like it's done with the footer.
And a good HTML5 practice is to use `<header>` instead of `<section id="rodi_header">`.

[2018-10-18 13:50] newick commented on #235
I don't remember what we said about this one. Was it for example in [this page](https://dev.riskopendata.org/dataset_details.html?keyds=413) for the urls?

[2018-10-18 15:22] newick opened #266 "[favicon] it is not displayed on every pages"
On the homepage it's ok:
![image](https://user-images.githubusercontent.com/657454/47165439-40770900-d2fa-11e8-8ebf-78eb9786da90.png)

but for example on dataset list, there's nothing displayed:
![image](https://user-images.githubusercontent.com/657454/47165475-57b5f680-d2fa-11e8-9dd5-eb5e39f6ebfe.png)

[2018-10-19 07:59] dedandy commented on #266
I'm fixing

[2018-10-19 08:10] dedandy commented on #247
@pzwsk  I'm working to change logo SVG image...

[2018-10-19 10:49] pzwsk commented on #247
Hi @dedandy, thanks, but which one? we still have to decide for the logo

[2018-10-19 12:31] oncletom commented on #247
This is not an issue which is planned for the current sprint so there is no need to address its implementation right now.

[2018-10-22 07:35] nastasi-oq commented on #244
LGTM
A note: if you also want to use (or reuse a previous defined) coding schema for these groups you can also add it (like an arbitrary  3 char code to use a key).

[2018-10-22 11:45] pzwsk commented on #244
Thanks,

as per your suggestion, I found that WB is actually using 2 characters (apha or digit) codes for some of the country groups (not for all). They even have a code for World which is `1W`.

I suggest we use a "extended" version with our own codes for country groups that do not belong to this list.

So, please find below the updated list of countries (one change for World WB code), as well as

[2018-10-22 11:46] pzwsk commented on #244
Also, once updated, could you put those csv files in the back end folder and remove lists that are unused? Thanks!

[2018-10-22 11:49] pzwsk commented on #197
Please see #244 for the latest version of country list.
Only WB_Code for World has changed.

Thanks

[2018-10-22 15:51] pzwsk commented on #264
Hi @nastasi-oq could you have a look especially to 4 and 5 as this would have important impact on scoring API I believe.

[2018-10-22 16:50] pzwsk commented on #183
As a quick fix, I would suggest to use similar layout of id="menu-hazard" (less divs inside) and order of icons as in Explore Locations page where there is no issue with large screens.

[2018-10-22 23:51] gracedoherty opened #270 "Change datasets submitted column to a data visualization that shows the number out of 36."
A simple horizontal fill bar like what is existing for the score would fit well with the existing layout. Could have it change color as it gets filled (e.g. from red to green).

[2018-10-22 23:52] gracedoherty opened #271 "Change open data column to a data visualization that shows the number out of 36."
A simple horizontal fill bar like what is existing for the score would fit well with the existing layout. Could have it change color as it gets filled (e.g. from red to green).

[2018-10-22 23:52] gracedoherty opened #272 "Fix data type icons color issue."
The icons turn blue when you hover over them, but after a split second they return to red. Make them stay blue during hover.

[2018-10-22 23:53] gracedoherty opened #273 "Customize the hover call-out boxes on data type icons."
Right now all hazards and all categories say the same thing. Change to: "Show only Base Data," "Show only Water Scarcity," etc.

[2018-10-22 23:53] gracedoherty opened #274 "Move score column to the far right, and move open data column to the far left (right of the country name)."

[2018-10-22 23:53] gracedoherty opened #275 "Explore countries page : remove "Datasets considered: XX"."

[2018-10-22 23:53] gracedoherty opened #276 "Change "Location" column header to "Country.""

[2018-10-22 23:54] gracedoherty opened #277 "Replace score with the gauge visualization mentioned in the Sept. 26 meeting."
This could be a composite of all the datasets submitted for that country.

[2018-10-22 23:54] gracedoherty opened #278 "Make Index logo at least 2x bigger on Explore Countries page."

[2018-10-22 23:54] gracedoherty opened #279 "Add an interactive map above the table of countries."
We can talk about the various visualization options of the map. It would be similar to https://opendri.org/project/ but with clickable country polygons instead of points, and several other options for visualizing how complete / how open each country's index is.

[2018-10-23 00:10] gracedoherty commented on #247
The blue and red combination are a fusion, I don't think they should be mixed together. OpenDRI and OpenDRI Index have two very different brand palettes. If we are going to change the Index colors to align with OpenDRI, then we have to get rid of the red, it doesn't fit the palette. We can use the video featured on OpenDRI's About page to decide an appropriate color combination (since a designer a

[2018-10-23 05:29] pzwsk commented on #276
Same as #142, closing this one.

[2018-10-23 05:29] #276 closed

[2018-10-23 05:30] pzwsk commented on #277
Thanks, can you have a look and comment suggestions in #264.

Then close, this one.

[2018-10-23 05:30] #277 closed

[2018-10-23 05:34] pzwsk commented on #275
Thanks, agree,

the idea was to provide the target for comparisons but this can be part of the new scoring gauges.

[2018-10-23 05:37] pzwsk commented on #278
Related to discussion on #247

Please close this one.

[2018-10-23 05:47] pzwsk commented on #279
To be discussed in relation to #264

Some comments:

* I would avoid table and map on same page - too much info and interaction. We can use different tabs but need to check performance issue. Otherwise, let's have a dedicated page;

* Need to get shapefile of national boundaries (ask Stu);

* A very nice to have, but I would not put it as a priority, compare to new scoring and filter feature for t

[2018-10-23 05:48] pzwsk commented on #274
Also for discussion, see #264

[2018-10-23 10:32] pzwsk commented on #181
Thanks,

from a db point of view, uniqueness is guaranteed by username.
on FE we can show username (+ name and org if provided).

This would enable people to remain anonymous, through a username only, or to promote themselves and their org if they want to.

What do you think?

cc @oncletom @nastasi-oq @gracedoherty @CIMAManuel @dedandy

[2018-10-23 13:37] oncletom opened #280 "[performance] Dataset List: API call takes around 9 seconds to perform"
I was investigating how to compute the scores sketched #264 on the client-side, without having to do any work on the backend side.

It happens a call to https://index.opendri.org/api/dataset/ takes around 9 seconds to return results.

I don't know if it is an expected timing and if there are recommended strategies to work around this.

[2018-10-23 14:15] pzwsk commented on #280
cc @nastasi-oq for discussion on this, thanks

[2018-10-23 15:31] oncletom commented on #264
https://index.opendri.org/api/country/ endpoint should be enough to cover it all, especially as it is already called to display the list.

- **Country Search** can be done by matching the `name` field
- **Country Groups** can be done by matching the `region` field

[2018-10-23 16:47] pzwsk commented on #228
First column (Country Name) appears to be much larger than others on my screen.

![image](https://user-images.githubusercontent.com/2378439/47376831-f2944380-d6f3-11e8-86b2-28df87a7a7d8.png)

[2018-10-23 16:53] pzwsk commented on #142
To be implemented in iteration 3.

Let's make sure we are modifying all occurrences at same time including:

- [ ] Header and footer
- [ ] Home
- [ ] Explore Countries
- [ ] Dataset detail page
- [ ] Documentation
- [ ] About

[2018-10-23 17:05] oncletom commented on #228
Hello @pzwsk, this issue is about the metrics of a given country (eg: the Slovenia country page) and no the Countries list.

When we made the table responsive in #233, we flagged this issue, without creating a new one, my bad. This is due to later results being `United Kingdom of Great Britain and Northern Ireland`. We shall limit its width or make sure the country names wrap automatically in the

[2018-10-24 13:19] pzwsk opened #282 "Explore Countries page : add country search form"

[2018-10-24 13:20] pzwsk opened #283 "Explore countries page : make column sortable"

[2018-10-24 13:29] pzwsk commented on #282
some potential useful resources using boostrap, jquery or angular

https://mdbootstrap.com/angular/angular-tables/table-search/
https://www.w3schools.com/howto/howto_js_filter_table.asp
https://www.w3schools.com/bootstrap/bootstrap_filters.asp

[2018-10-25 07:50] CIMAManuel opened #285 "Remove from frontend side Angular $locationProvider framework"
$LocationProvider is not use and we can remove it.
Before to do this we must check all href tags in all html pages and all dynamic link in JS files.
Moreover in JS files we use $location for identify pages and url parameters and we must to check if it is bound to $locationProvider framework.

[2018-10-25 07:57] CIMAManuel commented on #285
Also we can remove "changeview" function from HREF tags in HTML file.
This function is not used.

[2018-10-25 08:00] CIMAManuel opened #286 "Remove from HREF tags changeview function"
This function is not necessary.
It was set to manage menu status in first version of frontend.

[2018-10-25 08:17] CIMAManuel commented on #168
With solution 2 I found a problem with navigation.
The right click and the link are ok but if you want to come back in previus page the "back button" of browser doesn't work fine, the url change but the page is not refresh.
What do you think about that?
@pzwsk and @oncletom

[2018-10-25 12:36] oncletom commented on #168
@CIMAManuel I don't know, can you open a pull request with the code changes so as I can test and look for solutions?

[2018-10-26 12:47] nastasi-oq commented on #197
@pzwsk  2 questions:
 1.  currently we already have an association between countries and a region (North America, Central America, South America, Caribbean, Asia, Europe, Sub Saharan Africa, North Africa, Oceania), could you complete the CSV with the missing regions ?
 2.  for world (AA) do we need to add a specific new region ?

[2018-10-26 15:56] nastasi-oq commented on #197
@pzwsk there is any meaning to include "XB,Stateless" ?

[2018-10-26 16:14] pzwsk commented on #197
thanks, I had overlook this one, no we should remove it from our list as it
has no meaning from the point of view of the Index

On Fri, Oct 26, 2018 at 5:56 PM Matteo Nastasi <notifications@github.com>
wrote:

[2018-10-26 16:15] nastasi-oq commented on #197
@pzwsk  what about this 4 countries without thinkhazard reference ?
Commonwealth of Independent States, Curacao, St Maarten, United States Minor Outlying Islands

[2018-10-26 16:42] pzwsk commented on #197
*To be kept in the list:*
Curacao,
St Maarten

*For Curacao and St Maarten, they are in ThinkHazard but referenced
differently. I need to check ThinkHazard team here.*

*To be removed from the list :*
Commonwealth of Independent States
United States Minor Outlying Islands

*Those are not countries but very specific group of countries, so no need
to have them in the Index, neither in country or cou

[2018-10-27 07:49] nastasi-oq commented on #197
@pzwsk here https://github.com/GFDRR/open-risk-data-dashboard/commit/9bbf08dce84c5d974347ed2955c10c23475df221 the current changes to the original list, I tried to search the two missing countries in Thinkhazard! without success too.

[2018-10-27 07:53] nastasi-oq commented on #197
@pzwsk what do you think about include the ThinkHazard! name of country as new field of the Country model ?

[2018-10-28 12:19] pzwsk commented on #216
Hi @CIMAManuel can you explain what has been done here so that we say OK or not?

Thanks

[2018-10-29 07:54] CIMAManuel commented on #216
Hi @pzwsk, i wrote a little description in the pull request.
I changed the regex (roles) value of the function that check email format.
Please see here: https://github.com/GFDRR/open-risk-data-dashboard/pull/284

Thanks

[2018-10-29 12:12] pzwsk commented on #197
The aim is for both Index and ThinkHazad! to align with WB list Country
Name so in the long term there is no need for that.

Question being: what do we currently use to retrieve ThinkHazard! data from
a given country in the Index? (Country Name, WB Code, Iso Code)

On Sat, Oct 27, 2018 at 9:53 AM Matteo Nastasi <notifications@github.com>
wrote:

[2018-10-29 12:14] pzwsk commented on #197
Also, for info, currently St Maarten and Curaçao are both referenced as
Netherlands Antilles on ThinkHazard!
This may help to avoid breaking link.

http://www.thinkhazard.org/en/report/176-netherlands-antilles

On Mon, Oct 29, 2018 at 1:12 PM Pierre Chrzanowski <
pierre.chrzanowski@gmail.com> wrote:

[2018-10-29 12:30] nastasi-oq commented on #197
Before this branch we were using a custom list of Country Names that was mapped between RiskDashboard and ThinkHazard! where needed.

In this branch we are using the ThinkHazard! column of the countries CSV file (without any problem of mapping) except for the 5 countries that we are talking about.

[2018-10-29 14:53] pzwsk commented on #197
Ok, so I updated CSV file to reflect our last discussions.

I removed lines:
`Commonwealth of Independent States `
`United States Minor Outlying Islands`
`Stateless`

I added `Netherlands Antilles `in ThinkHazard! column for both `Curaco `and `St Marteen` lines.

For 1W, World, we should ensure ThinkHazard! is not filtering any hazard. I let you decided what is the best to do here.

Thanks

[2018-10-29 15:27] pzwsk commented on #142
See #288

[2018-10-30 08:47] pzwsk commented on #228
While reviewing this, I found an issue with width of footer on country page https://dev.riskopendata.org/dataset_list.html?idcountry=SI&idcategory=0

[2018-10-30 08:56] pzwsk opened #289 "Countries page: size of columns"
Width of country column is taking too much space, need to balance with other columns and wrap OR cut end of too long Names.

Also for info, in new list of countries, longest Country Name will be `Macedonia, former Yugoslav Republic of
`
![image](https://user-images.githubusercontent.com/2378439/47706300-23f79c80-dc29-11e8-98a1-cf0c44ab545b.png)

[2018-10-30 09:43] pzwsk commented on #154
TODO:

- Ensure World is not appearing in the list of countries on Explore Countries page;
- In the header menu, add an hyperlink named `Global data` linking to country page World which should be available here http://localhost/dataset_list.html?idcountry=1W
- Keep title as World within the page
- Add a subtitle: `Datasets with worldwide or near worldwide coverage`

[2018-10-30 11:46] pzwsk opened #290 "Add general search bar for countries / datasets"
To be discussed and define

[2018-10-30 21:57] gracedoherty commented on #154
To clarify, does the "similar dataset" comment refer to when you have two datasets defining the same issue? For example when you have two different SLR layers with different coverage, resolution, etc.

For country page, I propose we include the global datasets as one possible "view" of the datasets list. Currently we have 3 views: Submitted, Not submitted, and All. Let's add a second view option u

[2018-11-01 16:09] gracedoherty commented on #247
How about making the two Index colors blue (like OpenDRI) and muted orange (like the OpenDRI About video).

Text logo: "OpenDRI Index", where OpenDRI is blue and Index is muted orange.
Existing circle logo: change orange to muted orange, change red to blue.
Website: change anything red to muted orange. That shouldn't take long to do. Once we see how that looks, we can decide whether we need to cha

[2018-11-01 16:12] gracedoherty commented on #264
Per our call last week, I think it's best if we either split this issue into 6 distinct issues in order to address them systematically, or if this is still in the higher level discussion stage, then we should arrange another call to hash it out.

[2018-11-01 18:03] pzwsk commented on #264
Hi Grace, see in description of issue, I have added links to specific
issues (things to implement). I think however it is good to keep that one
open to keep brainstorming.

On jeu. 1 nov. 2018 à 5:26 PM Grace Doherty <notifications@github.com>
wrote:

--
Pierre Chrzanowski | Open Data Expert
Skype: pierre.chrzanowski | Twitter: @pzwsk

[2018-11-05 08:12] oncletom commented on #142
Addressed by #288.

[2018-11-05 08:12] #142 closed

[2018-11-05 08:49] oncletom commented on #216
@CIMAManuel what I understand from @pzwsk is it's not clear what changed and why this is going to solve the problem.

To me, the fix addresses the problem although it might not prevent more exotic formats [compliant to the e-mail address specification](https://tools.ietf.org/html/rfc5322#section-3.4.1) ([a bit more readable on Wikipédia](https://en.wikipedia.org/wiki/Email_address#Syntax).

[2018-11-05 09:24] pzwsk opened #291 "Define and adopt a red/green/gray colorblind friendly palette"
We use green / red / gray to showcase status of open data criteria

However, 8% of the population who is considered color blind may have difficulty to read it if no proper contrast.

Action: define and adopt a green/red/gray colorblind friendly palette.

Help on this:
https://usabilla.com/blog/how-to-design-for-color-blindness/

[2018-11-05 09:28] pzwsk commented on #291
Here is what is suggested in #267

https://user-images.githubusercontent.com/657454/47166867-6a7dfa80-d2fd-11e8-8934-43e0f9c4cabb.png

and results in extreme case of colorblindness

![image](https://user-images.githubusercontent.com/2378439/47989538-8fd47c00-e0e5-11e8-9b85-67d5774a1c7c.png)

[2018-11-05 14:02] CIMAManuel commented on #264
![filter_example](https://user-images.githubusercontent.com/9264931/48002314-7b0adf00-e10b-11e8-934e-f19bddf419c6.png)

An example of point 2 and point 3. The country name filter works in real time: while user digits the name the table is filtered.

[2018-11-05 14:30] oncletom commented on #275
Addressed in #292.

[2018-11-05 14:30] #275 closed

[2018-11-05 15:11] pzwsk opened #293 "Revert to old logo"

[2018-11-05 15:16] dedandy commented on #293
Hy all

Now I'm approaching revert logo

latest words around that from @gracedoherty:

_Text logo: "OpenDRI Index", where OpenDRI is blue and Index is muted orange.
Existing circle logo: change orange to muted orange, change red to blue.
Website: change anything red to muted orange. That shouldn't take long to do. Once we see how that looks, we can decide whether we need to change the existing blu

[2018-11-05 15:22] dedandy commented on #293
now simply revert latest version ;)

[2018-11-05 16:08] pzwsk commented on #264
Thanks @CIMAManuel,

some suggestions to reduce space.

* Remove labels "Filter by country name" AND "Filter by country group"
* Within search form: Replace `Country name` by `Search for a country`
* Within dropdown list: if possible, replace --No filer -- by `Filter by country group or region`
* Bot forms should not not occupy the full width of the container. Also, I think that we should give mor

[2018-11-05 18:07] oncletom commented on #266
It has been addressed in #269 — next time it would be nice to address issues one by one.

[2018-11-05 18:07] #266 closed

[2018-11-05 20:41] #278 closed

[2018-11-05 20:53] gracedoherty commented on #274
Closing and adding to #264 discussion.

[2018-11-05 20:53] #274 closed

[2018-11-06 08:38] oncletom commented on #201
Addressed by #215 and #255

[2018-11-06 08:38] #201 closed

[2018-11-06 08:39] oncletom commented on #215
Addressed by #248 and #250

[2018-11-06 08:39] #215 closed

[2018-11-06 09:04] oncletom opened #295 "Footer is not visually the same on all pages"
Flagged by @pzwsk in #228 as

[2018-11-06 09:18] oncletom commented on #216
This issue has been fixed by #284.

Feel free to create a new one to address more specific details about email addresses validation.

[2018-11-06 09:18] #216 closed

[2018-11-06 09:55] oncletom commented on #264
I have added checkboxes to the original message to ease up the tracking of their progress.

Re the suggestions, I think @CIMAManuel looks good and I'm fine with @pzwsk suggestion to make it more compact. It should be a reasonable enough expectation and it can be tweaked over a next iteration.

[2018-11-06 10:04] oncletom commented on #271
@gracedoherty @pzwsk what is the reasoning behind changing the color from red to green? I mean, do you have a gradient scale in mind?

I suspect a red/green gradien can be a bit punitive and different from the current red/green (off/on) scheme.

Can I offer to play on the intensity of green instead? From a faded green to full green (it's easier to play with percentages this way as well).

[2018-11-06 11:08] oncletom commented on #272
@gracedoherty which page are you referring to? On both https://dev.riskopendata.org/dataset_details.html?keyds=50 and https://dev.riskopendata.org/countries.html, the hovered data type icon is magnified but keeps the same colour.

If the problem happens on these pages, can you tell me which web browser did you encounter the problem with?

Thank you :-)

[2018-11-06 13:47] pzwsk commented on #291
Here is what I suggest

![image](https://user-images.githubusercontent.com/2378439/48068243-9bea3780-e1d2-11e8-9028-4b8dfdbc7248.png)

![image](https://user-images.githubusercontent.com/2378439/48068261-aa385380-e1d2-11e8-99f5-f2385593df5b.png)

It works quite well with all form of colorblindness https://coolors.co/881300-009500-a8a8a8-e6e6ea-f4f4f8

[2018-11-06 15:19] #283 closed

[2018-11-06 15:40] oncletom commented on #271
Cool. I'll try something.

Otherwise, do you have a threshold in mind when the red background of the gauge should turn into green?

[2018-11-06 16:43] gracedoherty commented on #272
Looks like it's only happening on Edge. It's on both Explore Locations and the country page. The icons turn blue briefly as they grow bigger, then the blue disappears.

I should make Chrome my primary browser to avoid these issues, but then I wouldn't notice the issues exist. ;)

[2018-11-06 16:45] gracedoherty commented on #271
Actually that's a good reason why faded to full green would be better, since we don't have a threshold for "good" for this indicator.

[2018-11-07 06:15] oncletom commented on #272
Thanks! I will have a look on Edge then :)

I was asking because I could not see the problem either on Firefox, Safari or Chrome so I was wondering if I were looking at the right place.

[2018-11-07 10:38] CIMAManuel commented on #264
@oncletom I'm looking your new code and I don't understand a specific function in controller.js.
The function is "$scope.filterBy" (line 667). what is it for? I see return always true ($scope.countriesFiltered.length always = 0). I need to filter list by Search form too and I need to understand and merge it. Thanks!

[2018-11-07 10:46] pzwsk commented on #264
Thanks Manuel ok for me

On mer. 7 nov. 2018 à 11:38 AM Cavallaro Manuel <notifications@github.com>
wrote:

--
Pierre Chrzanowski | Open Data Expert
Skype: pierre.chrzanowski | Twitter: @pzwsk

[2018-11-07 13:25] CIMAManuel opened #300 "Explore countries page: contry without dataset link"
If you click on a country without Dataset ("No dataset submitted") the link in corrupt.
In query string parameters "idcountry" is empty.
See images.
![list](https://user-images.githubusercontent.com/9264931/48134047-0d8cb900-e299-11e8-9919-5f8422356277.png)

![country_details](https://user-images.githubusercontent.com/9264931/48133988-ddddb100-e298-11e8-92b4-e2bc18d662bd.png)

[2018-11-07 13:29] CIMAManuel opened #302 "Dataset details page: prevent code country error"
Page: dataset_list.html
If "idcountry" query string parameter is empty manage error response.

Any ideas?

[2018-11-07 13:43] pzwsk commented on #302
It should go to a 404 error page, no?

On Wed, Nov 7, 2018 at 2:29 PM Cavallaro Manuel <notifications@github.com>
wrote:

[2018-11-07 13:52] pzwsk opened #303 "Deploy iteration #3 on production"

[2018-11-07 15:58] #300 closed

[2018-11-07 16:01] oncletom commented on #272
I indeed reproduced the problem on Edge 15. On Edge 16 and above it does not appear.

I'm investigating a bit further to understand its cause.

[2018-11-07 17:30] pzwsk commented on #244
As discussed, moved to FE iteration #4

[2018-11-07 18:08] pzwsk opened #305 "Change country score into open data indicators: open, restricted, closed, unknown"
THIS IS A PROPOSAL UNDER DISCUSSION [TO BE AGREED ON]

**What are the main questions this proposal is addressing?**

- What is the status of open data for resilience country by country?
- Which country has the most open datasets? the most closed datasets
- How is my country ranking compared to neighbors in the Region?
- What are the countries where we still need to do research on datasets?

For ea

[2018-11-07 21:14] vdeparday commented on #279
As I argued at the beginning of the project, I don't think a map is the
right way to visualize this data. I am not sure what it brings ? Maybe the
one thing related to geography and distance on this, would be if
neighbouring country are influencing each other. But I think a filter per
region on the table  would likely be more effective way of communicating
this.

On Tue, Oct 23, 2018, 1:47 AM Pier

[2018-11-08 16:29] #228 closed

[2018-11-08 16:35] #270 closed

[2018-11-08 16:35] #271 closed

[2018-11-08 16:40] #282 closed

[2018-11-08 17:07] #272 closed

[2018-11-08 17:16] oncletom commented on #272
@gracedoherty as far as I can see, the problem has been solved. Reopen the issue if it persists on your side :-)

[2018-11-08 19:36] #293 closed

[2018-11-08 19:39] pzwsk commented on #279
Ok thanks, let's put that issue aside for now.

Also, please have a look to new Explore countries page including filter by country regions https://dev.riskopendata.org/countries.html

[2018-11-08 19:47] pzwsk commented on #226
The reason why we did that is that `not submitted dataset` were not easily accessible/visible then.

But happy to consider other options.

[2018-11-08 19:49] pzwsk commented on #305
From @oncletom in #221 : what to think about a 95% score with 0% open data?

[2018-11-08 19:50] pzwsk commented on #221
Yes this is definitely not good. To be discussed in #305

[2018-11-08 19:50] #221 closed

[2018-11-08 19:55] pzwsk commented on #206
Yes we agree, should we discuss Homepage in a dedicated session together with @gracedoherty or maybe start here with some screenshot propositions?

I think we all have some ideas.

[2018-11-08 19:55] pzwsk commented on #205
To be discussed in #206 but yes agree tracking is not good.

[2018-11-08 19:55] #205 closed

[2018-11-08 19:55] #195 closed

[2018-11-08 19:56] pzwsk commented on #191
Yes, I am going to send invite.

[2018-11-08 20:07] pzwsk commented on #191
I would add key dataset and dataset detail page

[2018-11-08 20:31] pzwsk opened #307 "Country page: Reference of dataset under Key dataset name"
Currently the column `Dataset` only provides with the name of the `Key dataset`.

Add a line under the Key dataset name with information (Dataset Title, Dataset Publisher (organization), Date of last update) related to the dataset actually assessed.

Please coordinate with @nastasi-oq on backend for dataset title.

Some remarks:
- separate each field by a comma
- if field is empty, remove comma th

[2018-11-08 20:44] gracedoherty commented on #279
Hi - actually I wrote this issue during a rapid brainstorming for a front end sprint with Thomas. I should have closed it during that session. Will do so now.

Agreed on focusing first on the filtering and scoring. Any other visualization options can be considered after we've seen how all of that shapes up.

[2018-11-08 20:44] #279 closed

[2018-11-08 20:46] pzwsk opened #308 "Dataset_list: Filter by .... category datasets for Hazard icons"

[2018-11-09 13:55] oncletom commented on #226
Understood.

I'm now wondering what is the value to show `not submitted dataset` by default. If there is an incentive to show them in a different way to prompt for an action.

[2018-11-09 13:57] #308 closed

[2018-11-09 14:05] pzwsk commented on #226
Yes, exactly.

I had some thoughts on this, since we now want to switch country score to 4
indicators (open, restricted, closed, unknow) it would be great to have the
possibility to filter by those different indicators on dataset_list page
with a specific call for action for each.

What do you think?

On Fri, Nov 9, 2018 at 2:55 PM Thomas Parisot <notifications@github.com>
wrote:

[2018-11-09 14:10] oncletom commented on #226
Actually I don't know, and that would be good questions to ask during user interviews :-)

[2018-11-12 09:13] nastasi-oq opened #311 "Frontend installed on development machine stop to use development backend."
@pzwsk @CIMAManuel @oncletom @nastasi-oq
Currently frontend installed on https://dev.riskopendata.org is using production backend API.

- is used production DB to perform any kind of tests (creating temporarily inconsistencies and having obvious limitation on kinds of tests that could be performed)
- there is no more the possibility to test integration between pre-production FE and pre-production

[2018-11-12 10:22] oncletom commented on #311
So if I understand well, the expectation is to plug `dev.riskopendata.org` to the pre-production back-end, right?

I would then be interested by #263 being merged as it streamline the API endpoint to `/api/` for both production and pre-production.

By doing so, the frontend can be deployed the same way for production and pre-production, and the API datasource responsability is setup on the nginx s

[2018-11-12 10:36] CIMAManuel opened #312 "FE header JS script"
Remove from all files this JS component
- angular-cookies.min.js

[2018-11-12 14:22] gracedoherty commented on #191
Homepage:

It's too busy, visually. The tagline ("Tracking open data...") is as large as a title yet behaves like a subtitle, with underlines and links. A title should not have links. If you go to the mobile site, this and the background image take up all the space and the reader's attention. It isn't intuitive to click on the bubbles ("469 datasets"). Compare this to the open data index, which is

[2018-11-12 14:38] nastasi-oq commented on #311
Right.

Change the API endpoint to ``/api/`` is just matter of configuration for django and nginx, no problem.

Yes, would be good, in the previous configuration production and development was on the same machine so we had some limitation, now that are 2 different things are simpler.

@oncletom I'm going to add some changes to this PR to align it with your proposal.

[2018-11-13 08:53] pzwsk commented on #307
Hi @CIMAManuel could you have a look to this one and let me know if ok to implement?

Thanks!

[2018-11-13 09:08] CIMAManuel commented on #307
Hi @pzwsk this change is possible but now server don't provide all informations.
I think we must to implement a different server response to do that.

For @nastasi-oq: API call 'country_scoring/' + countryID + CategoryFilters + ApplicabilityFilers'.

[2018-11-13 09:51] pzwsk commented on #307
Ok, let's discuss with @nastasi-oq and @oncletom

I would suggest to add in the response,

name of the organization (does the dataset exist question)
date of last update (is the dataset up to date question)
additional info

also, would that be a lot to do add a field title in the database? if NO, I would appreciate we do it as well.

[2018-11-13 10:38] #311 closed

[2018-11-13 15:04] pzwsk opened #314 "Revision of key datasets list through an open process"
Looking to past data submissions and demands from WB projects, there is a need to review the current list of key datasets and related metadata in a much more robust manner and through an inclusive process.

Suggestions:

* Suggest a new structure for defining a key dataset (align with open data index);
* Organize a series of specific workshops with key stakeholders (invitation only or open to all)

[2018-11-14 19:54] nastasi-oq opened #316 "Approaching Third Iteration Deploy"
Hi all,

a quick update about current topics of Backend development.

  * Countries: new list and management already merged in master and working on development machine ('production' still needs to be deployed)
  * Email templates: already merged in master and modified to be able to avoid boring requests to show remote contents made by email clients.
  * Nginx management: update deploy system to p

[2018-11-16 10:37] nastasi-oq commented on #244
List of country groups with their associated countries from the CSV file, just for another visual check:

**Pacific Islands**
  FJ: Fiji
  FM: Micronesia, Federated States of
  KI: Kiribati
  MH: Marshall Islands
  PW: Palau
  SB: Solomon Islands
  TO: Tonga
  VU: Vanuatu
  WS: Samoa

**Small Island Developing States**
  AG: Antigua and Barbuda
  BS: Bahamas, The
  BH: Bahrain
  BB: Barbados
  BZ:

[2018-11-16 14:39] pzwsk commented on #244
Yes I confirm, thank

On Fri, Nov 16, 2018 at 11:37 AM Matteo Nastasi <notifications@github.com>
wrote:

[2018-11-16 15:34] nastasi-oq commented on #244
New countries list
-------
 ``http://www.example.com/api/country/``

![country](https://user-images.githubusercontent.com/1670278/48630814-740e8700-e9bd-11e8-9c31-662b0922a679.png)

How to retrieve country_groups list
-------
 ``http://www.example.com/api/country_group/``

![country_group](https://user-images.githubusercontent.com/1670278/48630836-7e308580-e9bd-11e8-8993-26b91829bfb1.png)

[2018-11-19 09:51] pzwsk opened #319 "Country page: Provide an explanation why some hazards are grayed out"
On a country page (ex https://index.opendri.org/dataset_list.html?idcountry=SI&idcategory=0) hazard icons for which hazard is considered of low level on Thinkhazrd! platform are grayed out - It is not possible to filter datasets by this hazard.

However, there is no explanation about this feature on the page - when hovering the icon for instance.

**Suggestion:**
Provide a specific explanation whe

[2018-11-19 09:53] pzwsk commented on #319
Actually, I am wondering if you should distinguish between zero chance and very low chance.

For instance, it is not relevant look for volcano related data is the country does not have any Volcano, but it can be relevant to look for Flood data, even though country is rated as low.

What do you think @gracedoherty @stufraser1 ?

[2018-11-19 11:03] oncletom commented on #244
@nastasi-oq small question: is there a way to know in which group(s) a country is from the `/api/country/` endpoint?

So far, my understanding is the API has to be queried to get to know this answer.

[2018-11-20 09:59] nastasi-oq commented on #244
No, I explicitly asked about this option and the answer is that it isn't an exposed information.

[2018-11-20 10:06] nastasi-oq commented on #244
@pzwsk

I agree and thinking about this not backward compatible change I also decided to investigate the possibility to move the new ``wb_id`` as primary key of Country model, making more readable any relation in the database, working on it since Monday I'm analyzing result of a refactored migration and I plan to open a new PR that MUST be merged before Country Group PR.

[2018-11-20 10:16] pzwsk commented on #244
Ok sounds good, thanks

On Tue, Nov 20, 2018 at 11:06 AM Matteo Nastasi <notifications@github.com>
wrote:

[2018-11-20 13:12] stufraser1 commented on #319
In ThinkHazard we use VERY LOW if, according to the data we have, the hazard intensity does not exceed the 'threshold to cause damage', at the longest return period we consider, and we don't state 'no chance', because of the difficulty to state 'no chance' with 100% certainty. For the example you give, a country without volcano might still suffer the impacts of volcanoes because their impacts can

[2018-11-20 13:18] pzwsk commented on #319
Many thanks Stu,

so I believe better than graying out any hazard option, the best would be
to show the thinkhazard! level for a given hazard and a given country.

On Tue, Nov 20, 2018 at 2:12 PM Stuart Fraser <notifications@github.com>
wrote:

[2018-11-20 13:38] nastasi-oq opened #320 "Renamed 'iso2' Country model field to 'wb_id' and made it primary key."
Rename Country field ``iso2`` to ``wb_id`` and made it primary key of the model without loosing current relations.

[2018-11-20 13:44] nastasi-oq commented on #320
This pull implement this changes:
https://github.com/GFDRR/open-risk-data-dashboard/pull/321

[2018-11-20 14:57] nastasi-oq commented on #280
Delegate client-side the calculation of scores prevent any further possibilities of caching strategies leading to unnecessary FE load.

9 seconds are spent to calculate scores (current algorithm is quiet complex) and above all, the view had not been thought to be served without filters enabled.

[2018-11-20 16:09] oncletom commented on #280
Well, it might not be performant by design and for good reasons but it is used as is nonetheless.

If the code or the API remains untouched, could we consider caching the output via nginx? It's [provided to us for free](https://www.nginx.com/resources/wiki/start/topics/examples/reverseproxycachingexample/) by the reverse proxy mechanism, and the scores don't change much during the day.

[2018-11-20 20:44] pzwsk opened #322 "Some Open Data Criteria cannot be YES when others are NO"
The suggestion is to introduce IF logical conditions for Open Data Criteria depending on responses to other criteria.

For instance: it is not possible to have YES to any criteria IF "Does the data exist" is NO.

See issue below ...

![image](https://user-images.githubusercontent.com/2378439/48801723-5f0f5c00-ed0d-11e8-9f0f-2b4c49b3f97d.png)

[2018-11-20 21:12] pzwsk commented on #196
Up, we should put that in next BE iteration.

[2018-11-20 21:14] pzwsk commented on #81
Should we close this one?

cc @daniviga

[2018-11-20 21:50] daniviga commented on #81
We are still running with a Let's Encrypt SSL certificate instead of a WB one, if that's ok for you, yes, I think we can close this.

[2018-11-20 22:20] pzwsk commented on #305
![image](https://user-images.githubusercontent.com/2378439/48806509-df888980-ed1a-11e8-882c-2148ec85caf3.png)

[2018-11-20 22:21] pzwsk commented on #305
Need to put explanation on how percentage and number are computed for each column.

[2018-11-20 23:11] pzwsk commented on #280
We may also simplify the algorithm through several ways as discussed with
OpenDRI team last monday:

* Remove complex scoring system and replace it by simple indicators (open,
restricted, closed, unknown);
* Take into account all dataset submissions, not only most open dataset
submission for each key dataset;
* Remove ThinkHazard! filter when countries have a low or very low level
and replace it b

[2018-11-21 13:47] pzwsk commented on #220
Up, could we add this in a next iteration? and follow @newick recommendation?

cc @dedandy @CIMAManuel

[2018-11-21 13:48] pzwsk commented on #81
Ok thanks, need to check with Digital Dpt.

On Tue, Nov 20, 2018 at 10:50 PM Daniele Viganò <notifications@github.com>
wrote:

[2018-11-21 14:02] oncletom opened #325 "Add new fields to /api/country_scoring/:country_id and change response format"
To implement #307, ideally, new fields would be added to the `/api/country_scoring/:country_id` route:

- `is_existing_txt` (Organisation Name)
- `is_prov_timely_last` (Date of last known dataset update)

@pzwsk mentioned `notes` but this can be a very large field so I wonder if that's relevant to include in a one liner description. Eg:

[code]

I suggest returning a response which looks like this

[2018-11-21 14:04] oncletom commented on #307
I have opened #325 to discuss the required backend implementation changes.

I'm not aware of a performant way to retrieve the required data. I label the issue as `blocked` until a technical solution is found.

[2018-11-21 14:16] oncletom commented on #226
It's not clear to me what is the expectation for this issue during iteration 4.

My initial hunch is there are too many filters and the further questioning raises a question mark on the value brought by filtering on the upcoming 4 indicators.

I don't know currently if people are likely to filter out absent data, or to display only absent data (depending on what is their intent).

If the goal is t

[2018-11-21 14:20] oncletom commented on #154
It's not clear to me what is the end expectation on this issue. It looks like there are two different approaches.

@gracedoherty approach seems quicker to implement and easier to maintain. We would not have to duplicate the logic in a different HTML page, and the navigation menu would remain consistent in term of intent ("Explore", "Submit", "Login"), etc.

[2018-11-21 15:19] oncletom commented on #303
I forgot to close the issue but it has been deployed last week or the week before.

[2018-11-21 15:19] #303 closed

[2018-11-21 16:38] oncletom commented on #305
Here is a sample of the API response for `/api/country_scoring/` at the moment:

[code]

This is how I understand we provide the values for each column, per country:

- **Open Data**: `fullscores_count`
- **Restricted**: `datasets_count`
- **Closed**: the information is not exposed yet and cannot yet be calculated on the client side based on the above sample
- **Unknown**: `datasets_count` - `keyd

[2018-11-22 08:41] pzwsk commented on #154
The expectation to me is to have a way to evaluate and showcase state of global open datasets for resilience.

Let's say there are currently 3 trends in datasets collection / production :
1. One is for national level Governments to collect, manage and supply information and ensure same level of quality and detail of information within their borders. This is what we assess with country level.
2. An

[2018-11-22 09:09] pzwsk commented on #154
To help us on this, here is a proposal with existing and new pages

![image](https://user-images.githubusercontent.com/2378439/48892563-a3e6e000-ee3e-11e8-8dd2-6cc21ade0dbe.png)

[2018-11-22 09:33] pzwsk opened #327 "Planning next iterations"
Adding below some of the areas of focus to be considered for next iterations:

- [Sign In / Log In workflow ]
- [Dataset Detail page]
- [Submit Dataset page]
- [New Key Dataset page]
- [Header Menu]
- [Home page]
- [New scoring / indicators]
- [New Metadata: Title, Attributes, others?]
- [Documentation page]
- [Integration with ThinkHazard!]
- []

[2018-11-23 13:57] pzwsk opened #329 "Add title field for dataset"
Add dataset title field

- [x] Submit page, see #354
- [ ] Dataset details pages, see #340
- [x] Dataset details page (edit mode) see #355
- [x] Country page, see #307
- [x] Backend and API #352

Thanks

[2018-11-23 14:06] #264 closed

[2018-11-23 14:44] oncletom opened #330 "Align filenames with page names"
![image](https://user-images.githubusercontent.com/2378439/48892563-a3e6e000-ee3e-11e8-8dd2-6cc21ade0dbe.png)

To be defined.

[2018-11-23 15:14] pzwsk commented on #307
Also need to address #329

[2018-11-27 08:51] oncletom opened #333 "Top menu vertical alignment is not consistent between logged in and logged out states"
Via https://github.com/GFDRR/open-risk-data-dashboard/pull/180#issuecomment-441963774

[2018-11-27 16:55] pzwsk opened #335 "Deploy iteration #4 on production"
Can we plan for a deployment on prod on Thursday Nov 29 morning CET?

Some important meetings on Thu and Fri.

Thanks

[2018-11-27 20:38] pzwsk commented on #226
Removed from iteration #4

[2018-11-28 07:38] #179 closed

[2018-11-28 10:56] oncletom commented on #335
I have deployed the current state of the frontend in production as of now.

I also did another change: when a [new tag or release](https://github.com/GFDRR/open-risk-data-dashboard/releases) is created, the frontend is deployed in production. This way anybody can deploy by creating a new release.

All commits which land on `master` still continue to land on `dev.riskopendata.org`.

[2018-11-28 14:54] pzwsk commented on #335
Hi @oncletom, all,

there is an issue with last deployment.

`Explore Countries` page not showing up any data on production.

Can we revert or apply fix asap, thanks?

cc @dedandy  @CIMAManuel @nastasi-oq

[2018-11-28 18:17] oncletom commented on #335
My hunch is global datasets migrations have not been played in production.

https://dev.riskopendata.org/api/country_scoring/AA returns data whereas does not https://index.opendri.org/api/country_scoring/AA.

I'm happy to remove the link in the navigation menu unless a quicker fix is to sync production BE with dev BE.

[2018-11-30 09:34] CIMAManuel opened #337 "Explore countries page"
Applicabilities and categoris filters don't work properly.
If you check icon to filter data the Score/Datasets  submitted/Open Data values don't change.

[2018-11-30 09:35] CIMAManuel opened #338 "Explore country page: Categories and Coutry group filters"
Categories/Applicability filter and Country Group must work togher.

[2018-11-30 10:56] oncletom commented on #338
For the record, this bug is present because #326 has been merged in spite of this change being asked for.

An issue which happen during an iteration can only be scheduled for a next iteration unless it is operation critical (eg: `Global data` page not working).

[2018-11-30 11:01] oncletom commented on #337
This is not a bug, this is a behaviour that is explained in #326. Mostly in light of #305 where scoring is not going to be displayed. I did not do the extra work of doing something that is going to be removed in an iteration or two.

[2018-11-30 11:09] pzwsk commented on #338
Ok thanks @oncletom

I recommended @CIMAManuel to open this issue because I understood it was blocking the deployment of new Country Groups list on Prod.

To me it is not a bug per se but more a clarification/enhancement on how Country Filters should behave that has been overlooked when we defined the issue at first.

Now, I understand this feature is working on Exp FE but I don't know what has be

[2018-11-30 11:47] CIMAManuel commented on #337
@oncletom ok, for me we can close this issue then.

[2018-11-30 11:59] pzwsk commented on #337
Question: it seems to me it is working on exp.riskopendata.org so what is the difference? and why we cannot have it work on Dev as well?

Since we don't know when new indicators are going to be implemented, I just want to understand how much work this would require to have a say.

Thanks

[2018-11-30 12:00] CIMAManuel commented on #338
@pzwsk exp has a old FE version, I updated it to test my changes to Explore countries but these changes was revert by @oncletom  so I think exp is not to consider now. EXP is only a "test area".
I activate bug label because I thought this issue was a request and to remind that this page is "incomplite" because last PR was approved for urgency and I think this issue is not basic for deploy.
So, we

[2018-11-30 12:55] pzwsk commented on #338
Ok thanks,

let's discuss this on Monday then.

On Fri, Nov 30, 2018 at 1:00 PM Cavallaro Manuel <notifications@github.com>
wrote:

[2018-12-01 14:33] pzwsk opened #339 "Explore Countries : Deploy country groups on production"
This issue is to sync deployment of BE #316 and FE #338  #337.

TBD

[2018-12-03 13:29] pzwsk opened #340 "Dataset details page: New page layout"
Modify general layout of dataset details pages following screenshots below.

The main objective is to clearly separate information on `What dataset is expected` from information on the actual `Submission`, what is evaluated.

The secondary objective is to provide more explanation on the open data evaluation of the dataset.
This is further explained in issue #343

The third objective is to enable u

[2018-12-03 14:13] oncletom commented on #333
#180 has been merged.

[2018-12-03 14:30] oncletom commented on #339
To me `backend@2.0.0` can be deployed in production 👍

Interface bugs can be fixed separately and independently.

cc @nastasi-oq

[2018-12-03 14:49] oncletom commented on #340
A few precisions based on today's call:

- when `More info` is clicked, there are more informations to display (to be defined)
- when `See details why` is clicked, the open data criteria are displayed
- there are 4 status sentences to display based on the criteria (`This dataset is free to access, use and share` is displayed when data is openly licensed, free, machine readable (?))

[2018-12-03 15:52] pzwsk commented on #196
Up, to be discussed

[2018-12-03 21:58] pzwsk commented on #340
Here are sentences for `Is this dataset open data?` depending on status:

**Status conditions:** AT LEAST YES for ALL criteria EXCEPT Up to date
Yes, this dataset is free to access, use, and share*
(*) Some conditions may still apply

Logo: Open Data

**Status conditions:** YES for Data exists and is publicly available and NO for at least another EXCEPT Up to date

No, this dataset has technical o

[2018-12-03 22:35] pzwsk commented on #340
See revised version of screenshot for collapsed version, with Alternative datasets added.

I would breakdown issues this way:

* New general layout for dataset detail page
* Box: Is this dataset open data?
* Box: Alternative datasets
* Box: More info (this one will need some work on BE so will probably keep it for another iteration)

@gracedoherty could you have a look and let us know what you thi

[2018-12-04 08:39] pzwsk commented on #340
Below is expanded version:

![image](https://user-images.githubusercontent.com/2378439/49429119-04afda00-f7a8-11e8-8c31-6dcbb8faad12.png)

[2018-12-04 09:02] pzwsk opened #341 "Dataset details page: Alternative datasets"
Show alternative World and Country datasets (dataset submitted for similar key dataset)

![image](https://user-images.githubusercontent.com/2378439/49458980-42cfec80-f7ee-11e8-8107-a0d67a369e8b.png)

fix #340

[2018-12-04 09:13] pzwsk commented on #236
I have had more thoughts on this.

The issue for now is that we do not record the access method of the data, i.e whether by direct download, API, or through a Web page. Putting a download button might confuse users if the landing url is a webservice or something else.

This shows the need for our database and the data we record to be more conformant with DCAT or Schema.org standard.

For now, I wi

[2018-12-04 09:15] pzwsk opened #342 "Remove data elements from the Front-End"
As discussed in #245 the information/feature `data elements ` must be revised as it is used for different purposes and is confusing for users.

It is therefore suggested to remove it from `Submit a dataset` and `Dataset details` front-end pages. Please see in yellow below.

The impact is that no data will be entered or showed on front-end  from the db for this field.

[2018-12-04 09:31] pzwsk commented on #342
![image](https://user-images.githubusercontent.com/2378439/49432333-b9012e80-f7af-11e8-806f-1c8e7c57eff3.png)

[2018-12-04 09:33] pzwsk commented on #342
![image](https://user-images.githubusercontent.com/2378439/49432463-0d0c1300-f7b0-11e8-9b40-b102b1dae424.png)

[2018-12-04 09:47] pzwsk opened #343 "Dataset details page: Is this dataset open data?"
Add section explaining the status of the dataset (open data, restricted, closed, unknown) depending on open data criteria.

When not expanded, section includes:

- a questions: `Is this dataset open data?`;
- a sentence as a response based on open data criteria (see more details in next comment);
- a logo or text on the upper-left depending on open data criteria (Open Data logo, Restricted, Closed

[2018-12-04 09:48] pzwsk commented on #343
Here are sentences for  the response sentence based on combination of open data criteria

**Status conditions:** AT LEAST YES for ALL `Open Data criteria `EXCEPT `Up to date`
Yes, this dataset is free to access, use, and share*
(*) Some conditions may still apply

Logo: Open Data

https://i0.wp.com/assets.okfn.org/images/ok_buttons/od_640x120_blue.png

**Status conditions:** YES for `The data exis

[2018-12-04 09:59] pzwsk commented on #340
I have added more details at the top of the issue.

I am suggesting to block the `more info` for now as this will require two additional fields or more in the db (Why is this dataset important? Data attributes).

[2018-12-04 10:06] pzwsk commented on #340
Some more clarifications:

- When no dataset title, put `Untitled`

[2018-12-04 10:10] pzwsk commented on #319
Need to investigate as this may have implication on BE scoring as well

[2018-12-04 10:17] pzwsk commented on #233
Need to try on sketches and validate

[2018-12-04 10:19] oncletom commented on #319
So if I recap, you'd ideally like:

- to display 'very low' (on the hovering tooltip?) instead of graying out the element
- to display the ThinkHazard score for each risk, like below the filter or in the tooltip?

[2018-12-04 10:30] pzwsk commented on #237
Still need to be addressed.

[2018-12-04 10:36] pzwsk opened #344 "Can we use same country group version on dev and prod?"

[2018-12-04 10:37] #344 closed

[2018-12-04 13:09] oncletom commented on #237
I can see 2 requirements here:

- backend development if the contact goes through an API call
- what it should look like (shall we redirect to the contribute form or simply present a `mailto:` link?)

[2018-12-04 13:11] oncletom commented on #234
It has been inadvertently removed. I though there was an issue about it but I guess this one can do the job.

[2018-12-04 13:13] oncletom commented on #230
@pzwsk do you or @gracedoherty have answers to these questions?

It will help coming up with proposals.

[2018-12-04 13:38] #342 closed

[2018-12-04 14:58] gracedoherty commented on #230
@pzwsk we haven't discussed the non-beta review process in quite a while. At this point, in beta, the review process is done internally by OpenDRI, correct? In which case here are the answers (informally written):

1.1: You can still use the data if you are able to access it. The openness criteria might not be accurate.
1.2: An internal reviewer will validate the results of the openness assessment

[2018-12-04 15:54] gracedoherty commented on #340
I think this precision is great. Some comments:

- **What dataset is expected?** can be **Category definition**. This is where I prefer that the term "dataset" refer to an actual file (e.g. Defra's Marine DEM), and "category" to define the group under which Defra and other DEMs fall under ("DEM"). We should change the Base Data/Hazard/etc. term to **Classification** or **Class**.

- **Show more de

[2018-12-04 16:34] pzwsk commented on #340
Thanks @gracedoherty,

Point 1: My suggestion is to use dataset for both and differentiate between dataset that is expected (key dataset) and dataset that is submitted (submission). The concept of key or high value dataset is now being recognized and used by various groups such as G8, Open Data Charter and now EU Commission who wants to define a list of high value datasets in its next Directive. T

[2018-12-04 17:13] pzwsk commented on #341
Hi @gracedoherty,

yes this is the idea but only showing alternative datasets at world level or similar country level, I removed country group from the list.

I think we need to find right balance between showing enough for alternative datasets and avoiding page to show too much info.

Also, showing dataset at the bottom of the page was not a good choice.

Maybe we can find a way to show both data

[2018-12-04 21:21] gracedoherty commented on #341
As long as the Country and Explore Datasets pages show the open/restricted/closed/unknown status of all the relevant datasets side-by-side, I don't think it's necessary to add that status next to the alternative datasets on this page.

Agreed on not including the full alternative datasets listing on this page, just wanted to clarify.

Regarding the ordering of Country and World lists: whichever of

[2018-12-07 09:34] nastasi-oq opened #348 "any tag triggers publication on production"
Is it correct that currently any tag added to the repository triggers a production FE pubblication ?
If it is we are not be able to add any other BE related tag.

[code]

[2018-12-07 14:50] oncletom commented on #348
It's correct. I never managed to make the above condition to work.
I can remove the automated FE production deploy for the moment, while investigating a convenient way to deploy frontend to production from GitHub.

[2018-12-07 22:07] oncletom opened #349 "Undefined dataset is returned as 200 response"
When I request for `https://dev.riskopendata.org/api/dataset/?country=undefined` (not an ID) or `https://dev.riskopendata.org/api/dataset/?country=` (absent ID) or `https://dev.riskopendata.org/api/dataset/?country=9999` (unexisting ID), the API returns a 200 response.

- I expect it to return a 404 when the country does not exist in the database.
- I expect it to return a 200 with an empty array

[2018-12-08 14:05] daniviga commented on #349
This is not a bug but was by design. It's a REST API so 404 is sent back if the API url does not exist, not if the resource doesn't.

You are calling a proper endpoint so a 200 is returned. In the json you'll get the error and the reason why. It's an application error what you are looking for, not an HTTP protocol one.

[2018-12-08 15:17] #234 closed

[2018-12-10 10:16] nastasi-oq opened #352 "Add title and enrich dataset details page with title, institution and last modification date"
* [x] Add an optional field to ``Dataset`` model
 * [x] Add title, institution and last modification date to dataset details view

Refercence branch: [be_dataset-title](https://github.com/GFDRR/open-risk-data-dashboard/tree/be_dataset-title)

Now as backend on https://exp.riskopendata.org/api/

Example: [api/country_scoring/FR](https://exp.riskopendata.org/api/country_scoring/FR)

[2018-12-10 10:20] oncletom opened #353 "Countries list: a click on a country leads to a never-ending loading page"
When `countries.html` is loading, when the scores are loading, a click on a country leads to `dataset_list.html?idcountry=` — with a missing `idcountry` parameter.

When the scores are loaded, it's fine.

[2018-12-10 10:22] nastasi-oq commented on #348
@oncletom ok, or filter (as in the original version) specific tag only (like ``fe_`` or ``prod_fe_`` or what you think is the best choice).

[2018-12-10 11:23] oncletom commented on #348
Perfect. I managed to make it work this time 👍

All tags prefixed with `fe_` will deploy the frontend to production.
Other tags will be discarded, in regard of frontend deployments.

Thanks for raising this issue 🙂

[2018-12-10 12:23] nastasi-oq commented on #320
Implemented in #321

[2018-12-10 12:23] #320 closed

[2018-12-10 12:24] nastasi-oq commented on #244
Implemented in #328

[2018-12-10 12:24] #244 closed

[2018-12-10 12:38] nastasi-oq commented on #325
@oncletom the tabular approach was thought to be able to build the FE view based on a fixed number of columns + a arbitrary number of booleans with their proper associated question, using this feature add or remove questions not requires FE changes.
If you don' t see value in that we can change it to a more standard view as you suggest.
``is_`` prefix was related to boolean values, probably we can

[2018-12-10 12:44] nastasi-oq commented on #145
@pzwsk any news about this bug ? I suggest to close it and if it appear again we can reopen it.

[2018-12-10 12:58] nastasi-oq commented on #349
I agree with you if the API offer a specialization of the country as part of the URI, not as a filter as it is now.
If we need this feature we can think to change the API accordingly.

[2018-12-10 14:33] CIMAManuel opened #354 "Dataset details - Title in submit page"
Add title control for submit page

[2018-12-10 14:34] CIMAManuel opened #355 "Dataset details - edit mode add title control"
Add title field in edit mode

[2018-12-10 14:37] oncletom commented on #325
I understand. In practice, in the frontend code, there are many areas to deal with when a new question is added.

I find it easier to work everything the same way, as lists of objects.

Perfect 👍

[2018-12-10 17:24] gracedoherty commented on #237
Some options below. I prefer the third.

1. A publicly visible comments section at the end of the page.
2. A "report a problem/error" button which sends an email to the dataset submitter and an admin.
3. A link to access an open discussion forum where Index users can discuss the datasets and their submission decisions. This could double as the user mailing list. Example: [discourse.org](discourse.

[2018-12-10 17:31] oncletom commented on #302
Implemented in #350

[2018-12-10 17:31] #302 closed

[2018-12-12 11:56] CIMAManuel commented on #354
@pzwsk can the field be in the Dataset section before country selection? Or we can add the field in the "Additional information".

[2018-12-12 12:01] CIMAManuel commented on #354
@pzwsk we can add a litle description under the label "Title". Do you have somenthing to suggest?
Thanks

[2018-12-13 09:57] CIMAManuel commented on #307
Is this issue blocked yet?

[2018-12-13 09:59] oncletom commented on #307
So far my understanding is it is blocked on the frontend side while #325 is under development.

[2018-12-13 10:48] #235 closed

[2018-12-13 15:34] nastasi-oq commented on #352
Issue adressed.

[2018-12-13 15:34] nastasi-oq commented on #352
Issue adressed.

[2018-12-14 09:43] #145 closed

[2018-12-14 10:16] #353 closed

[2018-12-14 10:17] oncletom commented on #354
Resolved by #360.

[2018-12-14 10:17] #354 closed

[2018-12-14 10:17] oncletom commented on #355
Resolved by #359.

[2018-12-14 10:17] #355 closed

[2018-12-14 10:18] oncletom commented on #307
Resolved by #363.

[2018-12-14 10:46] CIMAManuel opened #364 "Update Dataset - title check"
If title is "null" the check function doesn't check the field.

[2018-12-14 10:52] oncletom commented on #364
Well, wasn't the title supposed to be optional?

[2018-12-14 10:58] CIMAManuel commented on #364
I understand that field must be mandatory.

[2018-12-14 12:48] pzwsk commented on #364
My mistake, we discussed it on Monday but it was not written in the related issue.

Title field should be optional indeed as there can be few cases where there is no dataset title (dataset does not exist, dataset do exist but with no clear or known title).

[2018-12-14 12:52] pzwsk commented on #307
Here is what we have on dev. Seems we are using static parameters and not what is provided by API.

![image](https://user-images.githubusercontent.com/2378439/50004435-6e4d9680-ffa7-11e8-860a-850afa3fc6bb.png)

[2018-12-14 12:55] CIMAManuel commented on #364
Ok, so we must to delete title's check in service.js file. If you agree I can use this branch to remove it.

[2018-12-14 12:56] pzwsk commented on #364
Ok yes I agree

On Fri, Dec 14, 2018 at 1:55 PM Cavallaro Manuel <notifications@github.com>
wrote:

[2018-12-14 15:31] oncletom commented on #307
@pzwsk, what do you mean by "we are using static parameters"?

[2018-12-14 15:55] pzwsk commented on #307
On example I checked above, name of organization and date are not the right ones and are always the same.

Without having checked the code, I see  two possibilities:

- we are using name of organization of user instead of name of organization of dataset submitted
AND we are using date of submission instead of date of last update;
- we are not using API response but static harcoded param;

[2018-12-14 16:02] oncletom commented on #307
The rows are populated out of these data query: https://dev.riskopendata.org/api/country_scoring/AU

It looks like production data are pretty much different: https://index.opendri.org/api/country_scoring/AU

[2018-12-14 17:22] oncletom commented on #307
It's a discussion to have in #362 or #352 then, to adjust what data are provided by the backend.

[2018-12-17 08:48] CIMAManuel opened #367 "FE: more info in dataset list - change modify_time formatting."
Remove date/time format for this filed

[2018-12-18 09:48] #364 closed

[2018-12-18 09:49] oncletom commented on #307
Solved with #366.

[2018-12-18 13:02] #329 closed

[2018-12-18 13:33] pzwsk commented on #340
Hi, I just merged #370

There are some subtleties that I would like to address (Approved button, size of Dataset title) but very good job so far.

[2018-12-18 13:35] pzwsk commented on #260
Hi @nastasi-oq not sure if you have time before christmas break but would be great if we can address this.

I am going to put in on your board.

[2018-12-18 13:38] pzwsk commented on #307
Reopening this one.

One of the instructions has not been addressed:

[2018-12-18 13:38] #307 closed

[2018-12-18 13:43] pzwsk opened #371 "Explore countries: truncate dataset reference if larger than 2 lines"
- Truncate dataset reference (title, publisher, date) to 2 lines max with [...] at the end if longer
- Ensure same height size for all rows

See issue below
![image](https://user-images.githubusercontent.com/2378439/50157933-019e0900-02d3-11e9-945d-d791850243d3.png)

[2018-12-18 13:44] pzwsk commented on #371
Hi @CIMAManuel could you have a look at this one?

Thanks!

[2018-12-18 13:47] pzwsk opened #372 "Deploy Iteration 5 before Christmas Holidays."
And/Or after #340 has been fully deployed on Dev

[2018-12-18 13:52] #367 closed

[2018-12-18 14:07] pzwsk opened #373 "Dataset details: remove buttons at the top."
Remove Edit Datasets and Approved/Pending Review Button at the top of the page.

[2018-12-18 14:49] daniviga opened #374 "Partial service outage on Jan 11 to Jan 14 2019 (dev and exp)"
Due to extra maintenance on the power distribution facilities in the building that is hosting GEM officies a partial service outage will occur between January 11, 2019 16.00 CET to January 14, 2019 10.00 CET.

## Affected services
- https://dev.riskopendata.org/
- https://exp.riskopendata.org/

## Unaffected service
- https://index.opendri.org/

[2018-12-18 21:34] pzwsk commented on #374
Well noted, thanks for info

[2018-12-18 21:36] #218 closed

[2018-12-18 21:51] pzwsk opened #376 "Submit dataset: Not possible to submit"
Here is the scenario:

I selected `Soil data ` for `World`

Then set all Open Data Criteria to YES except one that I forget

Pressed `Submit`

Then message (You must select all criteria ....)

I set last Open Data criteria to Yes bu then it is not possible to submit dataset > message (Object) and it seems Soil data is not selected anymore.

[2018-12-18 22:13] pzwsk commented on #343
Looks like there is an issue in how open data criteria are processed.

See example below. It should be RESTRICTED with accompagnying text: No, this dataset has legal restrictions on access, use and share
![image](https://user-images.githubusercontent.com/2378439/50186183-5a44c480-031a-11e9-84cd-dbd3bb87cfe7.png)

[2018-12-19 09:44] #373 closed

[2018-12-19 11:02] oncletom commented on #343
Gotcha. Will have a look at it.

[2018-12-19 13:45] pzwsk commented on #305
Feedback from @vdeparday

Then, stacked bars might be better

[2018-12-19 13:55] nastasi-oq commented on #329
Fix in #366

[2018-12-19 13:58] nastasi-oq commented on #352
Adressed in #366

[2018-12-19 13:58] #352 closed

[2018-12-19 16:49] oncletom commented on #305
👍 understood.

If there is a sentiment of progression, I'd use the colour contrast to convey this progression. If it's about the openness — more contrast = open, less contrast = not open.

[2018-12-20 09:33] vdeparday commented on #305
Option 2 looks much better I think. It is easier to understand and compare. I am just wondering about the visibility of the legend as you scroll down, you will keep it above? And may be we can add tooltips on hover of the stacked bar.

[2018-12-20 10:01] oncletom commented on #372
Deploy is doable whenever backend API v2.1.0 is deployed in production.

We should not wait for an issue to deploy, unless a bug is blocking the usage of the website. We can redeploy the frontend as many times as we want.

[2018-12-20 10:43] pzwsk commented on #372
Ok, agree, thanks,

I am blocking this until backend is deployed then.

cc @nastasi-oq

[2018-12-20 10:48] pzwsk commented on #348
Could you write somewhere, maybe in the readme file how this works?

Many thanks

[2018-12-21 08:52] pzwsk commented on #371
As per @oncletom in #377, this is only working on Chrome.

I putting back issue to In Progress.

[2018-12-21 08:54] pzwsk commented on #372
Version 2.1.0 of API has been deployed.

Ok for me to deploy current version of dev on prod.
@oncletom can you do it?

This will allow team to review and add titles.

Best

[2018-12-21 09:30] dedandy commented on #371
Are you like this?! ... It's not easy because the block of _subtitle_datasetlist_ is composed by 3 object (title + institution + modify_time) and every object may be short or longer and all may exceed 2 lines. Sure I'm try to fix just use visual html & css capabilities... Another way will be to use JS to count words or charachters...
Well this is the fix now

Firefox preview:
![opendri_index_-_dat

[2018-12-21 15:22] pzwsk commented on #371
I understand.

Is there no possibility to treat it as one object?

Also, in examples above, the three dots are always there. That should not
be the case.

On Fri, Dec 21, 2018 at 10:30 AM dedandy <notifications@github.com> wrote:

[2018-12-21 19:06] oncletom commented on #372
It's done, with the tag [`fe_20181221`](https://github.com/GFDRR/open-risk-data-dashboard/releases) 👍

[2018-12-21 19:06] #372 closed

[2019-01-06 15:01] pzwsk opened #379 "Open Data for Resilience Index: update dataset for keydataset [BA_1A] and country [AA]"
When a submitted dataset has been reviewed, the submitter receives an email looking like the one below. This email has some issues including:
* Name of dataset and country in the title are referenced by codes not by actual names;
* Content of the email might not be very clear for users;

Please use this GitHub issue to suggest improvements.

![image](https://user-images.githubusercontent.com/23784

[2019-01-09 09:12] pzwsk opened #380 "Submit Dataset page: List of identified issues"
- **Issue:** When user click on Submit dataset and then OK, he is re-directed on a blank Submit data page.
### Fix: When user click on Submit dataset and then OK, re-direct to Dataset detail page of the submitted dataset.

[2019-01-09 09:40] CIMAManuel commented on #380
I think re-direct to blank submit page is useful if you have many datasets to insert.

[2019-01-10 09:58] pzwsk opened #381 "Improve key dataset description (what is requested and why) - Need to add Rationale on why this dataset is important in the database."

[2019-01-10 09:59] pzwsk opened #382 "Ajouter un système de commentaires. See also what is done on Geonode."

[2019-01-10 09:59] pzwsk opened #383 "Improve info on trust / review of dataset"

[2019-01-10 11:59] pzwsk commented on #196
What is the status of this issue?

[2019-01-10 12:02] pzwsk commented on #148
Done for both

[2019-01-10 12:02] #148 closed

[2019-01-11 09:19] pzwsk opened #384 "IE 11 Issue: Logos not visible on Internet Explorer 11"
OpenDRI logo in the header and partners logos in the footer are not visible on Internet Explorer 11.

![image](https://user-images.githubusercontent.com/2378439/51024522-16945200-158a-11e9-8e6e-eef94cbd14ed.png)

![image](https://user-images.githubusercontent.com/2378439/51024552-2744c800-158a-11e9-8c38-e5232b6b78d7.png)

[2019-01-11 09:30] pzwsk opened #385 "List of IE 11 Issues"
This issue will be used to list all bugs and front-end issues related to Internet Explorer version 11.

Even though, the share of users of Edge/IE 11 is low and decreasing, this web browser is still widely used for certain purposes by WBG staff. We should therefore ensure the website is working on IE version 11 as well.

Best

- [ ] Logos not showing up -> issue #384
- [ ] Category and hazard icon

[2019-01-11 09:32] pzwsk opened #386 "IE 11 Issue: Category and hazard icons overlapping"
Issue on internet explore version 11.

Webpages concerned by the issue:

- [ ] https://index.opendri.org/dataset_list.html?idcountry=AA
- [ ] https://index.opendri.org/countries.html

![image](https://user-images.githubusercontent.com/2378439/51025391-2d3ba880-158c-11e9-843a-bc7a402f01a0.png)

[2019-01-11 09:37] pzwsk commented on #385
Hi @vdeparday let us know if you find any other issue on IE 11. Thanks

[2019-01-11 09:53] CIMAManuel commented on #371
We pushed in the branch named "#371_trunk_over2lines" the last version of this issue.
There are some problems with Firefox yet, but we can't do better.
If you have any ideas (@pzwsk , @oncletom ).

[2019-01-11 11:14] cgiovando opened #387 "Missing legend for colors of criteria icons"
The colors (green and maroon) of criteria icons in summary pages are not obvious. I know that they indicate whether the criterion is satisfied or not, but maybe we could make it more obvious to the first-time user through a legend or tooltip on mouseover?

![screen shot 2019-01-11 at 12 04 57](https://user-images.githubusercontent.com/10201533/51030499-e785dc80-1599-11e9-9f75-c6b5cb1775dc.jpg)

Th

[2019-01-11 11:22] cgiovando opened #388 "If data is not openly licensed, shouldn't be here"
I would suggest that if a dataset is not openly licensed, it should not even be considered for inclusion in this website - therefore we could remove the criterion _"Is the data openly licensed?"_ and redistribute the 30% weight to the other criteria. What do you think?

Also, license is written with both the American (_license_) and the British (_licence_) spelling in the documentation page - we s

[2019-01-11 11:52] cgiovando opened #389 "Submitting multiple datasets for each type"
Wondering whether is possible and how to handle multiple submissions within the same category?

For example for _Digital elevation model_ in addition to the current global [SRTM dataset](https://index.opendri.org/dataset_details.html?keyds=529), it could be possible to include the [ASTER GDEM](https://asterweb.jpl.nasa.gov/gdem.asp), which has similar resolution and coverage.

[2019-01-11 13:26] pzwsk opened #390 "Use license (American English) instead of licence (British English)"

[2019-01-11 13:32] pzwsk commented on #388
Thanks, will check spelling for license versus licence > #390

I disagree with suggestion to remove the open license criteria as the aim of the website is to evaluate whether a dataset is open or not, both technically and legally.

Currently, we are using the criteria and score from the former Open Knowledge Index. See https://en.wikipedia.org/wiki/Open_Data_Indices#Scoring_standard

However, I do

[2019-01-11 13:34] pzwsk commented on #387
Thanks, this issue has been mentioned already and should be implemented in next iteration. See #257

Closing this one

[2019-01-11 13:34] #387 closed

[2019-01-11 13:40] pzwsk commented on #389
Thanks, how to show multiple or alternative datasets for same key dataset is currently discussed here #305 and here #340

That being said, you can already submit more than one datasets for same key dataset but until now we only consider most open version in the scoring.

[2019-01-14 15:45] pzwsk opened #391 "Explore Countries: Show all dataset submissions for a key dataset"
Hi,

currently, https://index.opendri.org/countries.html and https://index.opendri.org/dataset_list.html only consider the most open dataset per key dataset.

The result is that alternative datasets (other submissions for similare key datasets) are not visible on dataset_list and not taken into account in scoring and total number of datasets.

The aim is to review this as part of #305 but I was wo

[2019-01-14 15:46] pzwsk commented on #391
cc @nastasi-oq

[2019-01-15 12:54] nastasi-oq commented on #260
I agree with @oncletom , at least postpone the issue after the new scoring implementation.

[2019-01-15 13:01] nastasi-oq commented on #280
Remove complexity from scoring could reduce elaboration time quite a lot, moving filtering client side miss all the advantages of server side query caching, if data submission became not so frequent also use django cache and clean it when some modification happens to the data could be an option, expensive just the first time for each kind of query.

[2019-01-15 13:03] nastasi-oq commented on #391
@pzwsk I think it is possible, just the visualization or we want to change the current scoring method ?

[2019-01-15 14:05] pzwsk commented on #391
Priority is visualization, we will address country score trough #305

Here is the proposal:

![image](https://user-images.githubusercontent.com/2378439/51183734-6f3d5500-18d2-11e9-93d0-e6b6b9f7f20e.png)

[2019-01-15 14:35] pzwsk commented on #376
Start to check FE side. cc @CIMAManuel

[2019-01-15 14:49] pzwsk commented on #196
cc @daniviga

[2019-01-15 19:30] pzwsk opened #392 "Make the website GDPR compliant"

[2019-01-17 13:31] pzwsk commented on #343
Hi @oncletom could you give us an update on this issue.
I would like to close iteration #5 now.

Thanks

[2019-01-17 13:35] pzwsk commented on #371
Hi @CIMAManuel @dedandy  still need to merge your fix in dev, right?

[2019-01-17 13:38] pzwsk commented on #340
Hi, going to move this to iteration #6 as #341 and #343 are still todo/ongoing.

[2019-01-17 13:45] pzwsk commented on #391
Hi @nastasi-oq I put in Backend iteration #6

Please consider this priority.

Best

[2019-01-17 14:36] pzwsk opened #395 "Country page: add sort buttons to key dataset and open data criteria"
Similar to explore countries page add the possibility to sort table per dataset or open data criteria.

Per default: open data criteria first (100% > 0%) then dataset name (A > Z)

[2019-01-18 12:47] CIMAManuel opened #396 "Contrinute page: button LOGIN doesn't work"
If you are not loggend in and click on "Submit a dataset" the page suggest to log in.
The LOGIN button doesn't work.

[2019-01-18 15:33] #316 closed

[2019-01-18 15:57] nastasi-oq opened #399 "Update Django Version to 1.11.18"
Update Django version to avoid vulnerabilities

[2019-01-21 12:42] CIMAManuel commented on #204
This issue is confirmed?

[2019-01-21 13:08] CIMAManuel commented on #396
I'll close this issue, it's not true

[2019-01-21 13:08] #396 closed

[2019-01-21 13:09] CIMAManuel opened #400 "IE 11 error: page Explore Countries doesn't work"
Angular error:
TypeError: Object doesn't support property or method 'find'.
https://index.opendri.org/js/angular/controller.js:686:13.

[2019-01-23 08:37] daniviga commented on #196
This should be managed on the `opendri.org` side. I guess `opendri.org` domain has an associated mail server. The `index` subdomain should be registered and mailbox created. An external service may be used, but this depends on the policies at World Bank (mails are always a very sensitive topic).

[2019-01-23 15:11] oncletom commented on #391
This one seems to be addressed, and there is no need to change anything on the frontend side.

[2019-01-23 15:18] oncletom commented on #343
I rescheduled this item in iteration 6. It's not a problem if they appear in multiple iteration. It's not a problem too if iterations "are not finished" (aka "there are items in the TODO column" at the end of an iteration). It's good hint of the work capacity at a given moment.

I'm currently looking at it (for real).

[2019-01-23 15:30] #390 closed

[2019-01-23 15:42] #391 closed

[2019-01-24 09:38] #399 closed

[2019-01-28 13:57] pzwsk commented on #181
Final version below:

![image](https://user-images.githubusercontent.com/2378439/51840712-c4b63080-22da-11e9-9b72-9acf665e1100.png)

[2019-01-28 15:51] pzwsk opened #406 "List of English typos"
This issue is to identify all language typos.

If you identify one, please add it as a comment in the thread below.

Thanks

[2019-01-28 15:52] pzwsk commented on #406
Renew password email:

![image](https://user-images.githubusercontent.com/2378439/51847948-b40db680-22ea-11e9-9417-995f1a852b49.png)

[2019-01-29 10:34] CIMAManuel opened #409 "Profile unnecessary fileds FE / BE"
The fileds First Name, Last Name, Title and Institution were removed from FE side (Registration form, My Profile & Admin User Profile manage).
In this moment in FE side the User profile Object contains this fileds because BE side requires them.

We must to remove all references to this fields from FE and BE side.

[2019-01-29 10:52] pzwsk opened #410 "Use only one unique red color throughout the website"
Close but not identical "redish"colors are used for titles, menu and open data criteria icons on the website.

To do:
Replace #ee3036 and #881300 colors with #cb2431 throughout the website

[2019-01-29 10:54] pzwsk commented on #410
Result

![image](https://user-images.githubusercontent.com/2378439/51903521-a7f22980-23bc-11e9-8592-10c3500e7c48.png)

[2019-01-29 11:01] oncletom commented on #341
@pzwsk small question: how is that supposed to work when the dataset is a World Level dataset?

[2019-01-29 11:18] oncletom commented on #340
This one will be good to go as #405 is merged.

[2019-01-29 11:18] oncletom commented on #257
@pzwsk you moved this one to "in progress", but is anybody working on it?

[2019-01-29 13:58] #410 closed

[2019-01-29 14:00] oncletom commented on #409
Does it prevent the application to work?

Otherwise it's not a priority, and in all cases, it cannot be added to an iteration which has already started (@pzwsk do the priorisation).

[2019-01-29 14:03] pzwsk commented on #305
I suggest to put some text below each indicator to explain. @gracedoherty can you review language especially? Thanks

![image](https://user-images.githubusercontent.com/2378439/51913493-e268c000-23d6-11e9-9847-05b66f059016.png)

[2019-01-29 14:05] oncletom opened #412 "Transcribe Danny interview"

[2019-01-29 14:05] oncletom opened #413 "Transcribe Asha interview"

[2019-01-29 14:06] oncletom opened #414 "Transcribe Stella interview"

[2019-01-29 14:10] pzwsk commented on #305
Hi @oncletom re your comment made on Nov 21, we need to discuss with @nastasi-oq

I am going to open a new issue as this may involve some important changes in BE and API.

We will continue to use this issue as main umbrella issue.

[2019-01-29 14:27] #340 closed

[2019-01-29 14:27] #341 closed

[2019-01-29 15:21] pzwsk opened #415 "How to change from old country score to new country open data indicators?"
See #305

The proposal is to remove country score and replace it by a set of indicators on the number of datasets open data, restricted, closed or unknown for each country.

First, let's have a look to how current version works

### Dataset score

The OpenDRI Index uses a set of 10 criteria formulated as questions, weighted in percentage, to assess to what extent a given dataset is open.

For more

[2019-01-29 15:22] pzwsk commented on #415
Here is the proposal for new set of indicators:

[2019-01-29 20:16] gracedoherty commented on #305
**Open Data**
free to access, use and share

**Restricted**
technical, legal or cost restrictions

**Closed**
access, use and sharing not permitted

**Unknown**
more information needed

[2019-01-30 09:33] pzwsk commented on #305
Thanks, I am revising a bit based on last modifications regarding definition of closed:

**Open Data**
free to access, use and share

**Restricted**
technical, legal or cost restrictions

**Closed**
access not permitted or does not exist

**Unknown**
more information needed

[2019-01-30 09:37] pzwsk commented on #305
Need also to be decided in terms of easiness of implementation.
We may also have unknown column independent from others.

[2019-01-30 16:37] pzwsk commented on #305
Last proposal

Open Data, Restricted and Closed in one stacked progress bar
Percentage (Open Data) = number of open data / 100
Percentage (Restricted) = number of restricted / 100
Percentage (Closed) = number of closed / 100

_More rigorous option would to replace 100 by the maximum of datasets for a country (number of datasets submitted + number of key datasets without submission)._

Unknown in a

[2019-01-31 09:09] oncletom commented on #371
I'm happy to have a look at it.

[2019-01-31 09:19] oncletom commented on #168
I don't know if it is the same problem as the "right click" issue per say, but I encountered navigation issue during a user interview.

When you click on "Explore Countries", then "Slovenia", then "Aerial imagery". Then try to hit the "back button" of the web browser. There are 2 scenarios:

1. if you click on links, you will be brought back to the homepage
<img width="213" alt="image" src="https:

[2019-01-31 12:56] pzwsk commented on #388
Thanks Thomas,

I would sure agree data is better than no data ;)

However, the whole concept of open data is to help people go beyond their community and share data with anyone and not only think about the risk and legal framework within their community.

It is surely something we need to explain better and again and again through the Index but also in our communication, that on a global scale, l

[2019-01-31 13:34] oncletom commented on #388
Agreed. To me the opportunity is to enact a change to license the data, by making the absence of license visible on the Index. As someone said to me yesterday, they don't have an open data portal in their country, so the Index is a great way to find/contribute resources.

[2019-01-31 15:00] pzwsk commented on #325
Up as this is relevant for discussion on indicators and performance improvement cc @nastasi-oq @CIMAManuel

[2019-01-31 15:02] pzwsk commented on #325
One remark, we should continue to separate question Y/N and related text fields as those are in the end general metadata for the dataset, providing evidence but not related only to the question.

[2019-02-01 06:05] #412 closed

[2019-02-01 06:09] #257 closed

[2019-02-01 07:08] oncletom commented on #325
And #418 scratch the surface that "Yes/No" does not encompass the "I don't know"/"Not applicable"/"Not clear"—at least regarging the license (there is no license but it's still free to (re)use).

[2019-02-01 12:08] pzwsk commented on #400
Thanks, I put this in iteration #7

[2019-02-01 12:15] pzwsk commented on #389
Closing this one, now implemented.

[2019-02-01 12:15] #389 closed

[2019-02-01 12:16] #384 closed

[2019-02-01 12:19] #386 closed

[2019-02-01 12:20] #376 closed

[2019-02-01 12:31] pzwsk opened #419 "Explore countries: remove category and hazard filter until solution is found."
1. With new API, category and hazard filters do not work for `Explore Countries` page currently
2. User interviews show that those filters are not clear, especially for `Explore Countries` page
3. A new set of open data indicators is going to replace scoring system

Suggestion is to remove category and hazard filters until a better UX/UI working with new set of open data indicators is found.

[2019-02-01 17:05] pzwsk opened #421 "Dataset List: group alternative datasets by key dataset"
Following request from @vdeparday

Here this a proposal to show similar (alternative datasets) for same key dataset on the Country page:

![image](https://user-images.githubusercontent.com/2378439/52137601-3b408e80-264b-11e9-9e51-c00a35d4678e.png)

Level 1:
Key datasets are sorted either by name or (if possible) by most open dataset.

Level 2:
Within key dataset group, dataset are sorted by most o

[2019-02-01 17:06] pzwsk commented on #421
Hi @oncletom as discussed could you have a look next week?

Thanks!

[2019-02-01 19:11] vdeparday commented on #421
Definitely a high priority, will look very good on the Global Dataset Page. Seeing all the global dataset in one page is something a lot of people have been wanting for a while !

The layout looks pretty clean. Maybe we can also have a clean way of having title, source, date aligned (but maybe that would be more ugly), to try out.

[2019-02-02 14:01] oncletom commented on #419
On the `dataset_list.html` page, the filter could be moved below the "Show: Submitted, Not Submitted, All" filters, and be given a similar look with their  number of datasets (it can be developed in a new issue if that's relevant).

[2019-02-02 14:02] #419 closed

[2019-02-04 14:05] oncletom commented on #168
Maybe one solution is to disable `rewriteLinks`, thus, configuring `app.js` with this instead:

[code]

[2019-02-04 17:55] #400 closed

[2019-02-05 08:42] nastasi-oq commented on #305
**not blocking thought, just a consideration** if we stop to take in account ThinkHazard! there will be a bias for countries with less perils (because there aren't data for not interesting perils where not needed) compared with others.

[2019-02-05 11:23] #421 closed

[2019-02-06 10:16] nastasi-oq commented on #305
@pzwsk , @oncletom @CIMAManuel
On [be_scoring-new](/GFDRR/open-risk-data-dashboard/tree/be_scoring-new) branch we have a working experimental version of the new scoring system (without ranking).
It is already installed on our experimental instance without any kind of filters currently at:
https://exp.riskopendata.org/api/scoring_new/

### Format Description
[code]
Where the key is the wordbank id